{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- <div class="hizmet-bg" style="background-image: url('/{{ etkinlik1.resim.url}}');">
    <p class="hizmet_ozel_baslik" >{{ etkinlik1.baslik }}</p>
</div> -->
<div class="background-ozel-etkinlik animated slideInLeft slow">
    <img src="{% static 'foto/logo-balon-removebg-preview.png' %}" class="balon-img"> 
    
    
    <p class="etkinlik_ozel_alt_baslik">{{etkinlik1.baslik}}</p>
    </div>

<p class="hizmet_ozel_icerik"> {{ etkinlik1.icerik|linebreaksbr }}</p>
{% if etkinlik1.resim2 %}
<img class="hizmet_ozel_img" src="/{{ etkinlik1.resim2.url }}">
{% endif %}
<p class="hizmet_ozel_icerik"> {{ etkinlik1.icerik2|linebreaksbr }}</p>

{% endblock %}