{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="hizmet-bg" style="background-image: url('/{{ hizmet1.resim.url}}');">
    <p class="hizmet_ozel_baslik" >{{ hizmet1.baslik }}</p>
</div>

<p class="hizmet_ozel_alt_baslik">{{hizmet1.baslik}}</p>


<p class="hizmet_ozel_icerik"> {{ hizmet1.icerik1|linebreaksbr }}</p>
<!-- {% if hizmet1.resim2 %}
<img class="etkinlik_ozel_img_1" src="/{{ hizmet1.resim2.url }}">
{% endif %} -->
<p class="hizmet_ozel_icerik"> {{ hizmet1.icerik2|linebreaksbr }}</p>
<!--Zoom effect-->
<!--Zoom effect-->

{% endblock %}