{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="hizmetler-animation animated slideInLeft slower delay-1s">
<h1 class="title-hizmetler" id = "title" style="margin-left: 9%"> HİZMETLER </h1>
<hr class="hr-dark" style="width: 75%; margin-right: 20%;">
</div>

{% if hizmetler %}
<div class="hizmetler animated fadeIn slow delay-2s">
{% for hizmet,icer in mylist %}

	<div class="hizmetler-madde" style="display: inline-block">
		<div class="card">
			<div class="view overlay">
				<img class="card-img-top" src="/terranova/ hizmet.resim.url }}">
				<a>
					<div class="mask rgba-white-slight"></div>
				</a>
			</div>
			<div class="card-body rounded-bottom">
				<a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
				<h4 style="color: #075e93;">{{ hizmet.baslik }}</h4>
				<hr class="hr-dark">
				<p class="card-text card-text-color mb-4" style="color: #262222eb;">{{ icer }}...</p>
				<a href="{% url 'hizmet_ozel' hizmet.id %}"><button href="{% url 'hizmet_ozel' hizmet.id %}" class="hizmetler-button">Ayrıntılar</button></a>
			</div>
		</div>
	</div>

{% endfor %}

{% else %}
	<p> Hizmet bulunmamaktır</p>
{% endif %}
<div class="hizmetler-madde" style="display: inline-block">
	<div class="card">
		<div class="view overlay">
			<img class="card-img-top" src="{% static 'foto/ba0b096c-b695-46f9-9669-9f0d0bb49aa4.jpg' %}">
			<a>
				<div class="mask rgba-white-slight"></div>
			</a>
		</div>
		<div class="card-body rounded-bottom">
			<a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
			<h4 style="color: #075e93;">ETKİNLİKLER</h4>
			<hr class="hr-dark">
			<p class="card-text card-text-color mb-4" style="color: #262222eb;">Her ay gerçekleştirdiğimiz birbirinden farklı etkinliklerimiz için programlarımızı takip edin. <br>

				- Koçluk Bilinciyle Yaşama Dair <br>
				- Temel Nefes Teknikleri <br>
				- Bütünsel Sağlık ve Nefes <br>
				- Access Bilinciyle Yaşama Dair</p>
			<a href="{% url 'etkinlikler' %}"><button href="{% url 'etkinlikler' %}" class="hizmetler-button">Ayrıntılar</button></a>
		</div>
	</div>
</div>
</div>

{% endblock %}