{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="title" id = "title"> Access The Bars </h1>
<img src="{% static 'fotoğraflar/11839YtnCHSBoXsqTmjbMVDfJzUrIG.jpg' %}" style="margin-left: 13.5%; width: 70%; max-height: 500px; border-radius: 4%">
<p class ="content" style="line-height: 1.6">
	Access bars kafamızdaki 32 noktaya hafif dokunuşlarla yapılan bilinçaltı temizliği enerji çalışmasıdır. (sifa,cinsellik, para, farkındalık, yaratıcılık, beden gibi noktalar ) Access consciousness, Amerika da Gary Douglas tarafından ortaya çıkan ve Dr.Dain Heer ile birlikte geliştirilerek dünyaya yayılan bir sistemdir.<br><br>

Bar’ları Çalıştırmanın bazı Faydaları Nelerdir? ki bundan çok daha fazlası var<br><br>

* Zihin ve bedendeki gerilimi yok eder.<br><br>

* Günlük yaşamın getirdiği stresi azaltır.<br><br>

* Yaşamın üzüntülerini en aza indirir.<br><br>

* Aşırı kızgınlık ve öfke eğilimlerini azaltır.<br><br>

* Öfke, yorgunluk, tükenmişlik gibi duygular tarafından vücudunuzda oluşturulmuş blokajları çözer.<br><br>

* Duygusal iniş çıkışları yatıştırarak daha dengeli bir ruh hali içinde olmanızı sağlar.<br><br>

* Depresyonu ortadan kaldırarak neşeyi yaşamınıza geri döndürür.<br><br>

* Korkularınızın, fobilerinizin, endişelerinizin giderilmesini sağlar.<br><br>

* Enerjiyi arttırırken yıpranmayı azaltır.<br><br>

* Bedenin yaşlanma hızını azaltır.<br><br>

* Yıkıcı düşünceleri kökünden söküp atar.<br><br>

* Kafanızın içinde sürekli konuşup duran gereksiz düşünce diyaloglarını susturur.<br><br>

* Huzur, güven ve iyi hal duyguları yaratır.<br><br>

* Hem rahatlamış, hem de enerjik hissetmenizi sağlar.<br><br>

* Hamilelikte kolay, rahat ve sakin doğum sağlar.<br><br>

* Çocuklarda ve gençlerde sınav öncesi sıkıntı ve endişelerin giderilmesini temin eder.<br><br>

* Kendiniz ve diğer kişiler için zihninizde daha geniş bir kabullenme ortamı yaratmanızı sağlar. Bu kabullenme duygusu sayesinde ilişkilerde düzelme sağlanır.<br><br>

* Kendinize koyduğunuz kısıtlamaları ortadan kaldırır, böylelikle hayatınızın her alanında daha fazla olasılığa yer açmanıza olanak verir ve fırsatları kendinize çekmenizi sağlar.<br><br>

* Kendiniz için şu an kullandığınız enerjiden, daha fazlasını kullanmanızı sağlar.<br><br>

* Dikkat Eksikliği, Hiperaktivite Bozukluğu ( ADHD ) gibi öğrenmeyi güçleştiren durumların aşılmasında yardımcı olur.<br><br>

* Artan odaklanma, mantık yürütme, problem çözme, hayattan daha fazla keyif alma, işlerin daha kolay yürütülmesi, daha fazla kapasite ve fiziksel yetenek, artan farkındalık ve ruhsal gelişme sağlar.
</p>
<p class="content" style="color: rgb(23, 54, 93); font-style: italic; ">Terranova Bütünsel Koçluk Merkezi tarafından düzenlenen etkinlikler, workshoplar, seminerler ya da danışmanlık hizmetleri yalnızca bireysel 
    gelişim yolculuğunuzda sizleri bilgilendirmek, potansiyelinizi açığa çıkartmak, kendinize ve çevrenize daha yararlı bir birey olmanıza aracılık etmek; özetle hayatınızın kalitesini artırmak amaçlıdır. 
    Hiçbir etkinlik, workshop, seminer ya da danışmanlık hizmeti bir hastalık tanısı koyma ve tedavi etme amacı taşımaz.</p>
{% endblock %}