{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="title" id = "title">AİLE DİZİLİMİ</h1>
<img src="{% static 'fotoğraflar/aile-dizilimi.png' %}"  style="width: 50%; margin-left: 20%; border-radius: 4%; max-height: 500px">

<p class="content"> 
Aile Dizilimi, kişinin sıkıntılarının ya da hayatındaki tıkanıklıkların altında yatan sebepleri araştırmak ve şifa getirmek için kullanılan bir grup çalışmasıdır.
Çalışmada, grup üyelerinin yardımıyla ailenin bir resmi oluşturulur, sistemdeki ilişkiler ve işleyen yasalar görünür hale gelir. Her katılımcı, aile şartlanmalarını anlama ve tecrübe etme şansına sahip olur, aynı zamanda izleyerek ve başkalarının dizimlerinde temsilci olarak da farkındalık kazanır.<br><br>
<b style="color:rgb(57, 96, 148) ">Ruhsal ve enerjetik bir çalışma olan Aile Dizilimi ile :<br></b>
- Ailemizde yaşadığımız sorunlar, çatışmalar<br>
- Mevcut ilişkimizde ya da ilişki kurmakta karşılaştığımız zorluklar<br>
- Sağlık konuları<br>
- Maddi konular, iş hayatı ya da hayatta kendimizi tıkanmış hissettiğimiz herhangi bir alan<br>
- Kronik hale gelmiş duygu durumları ve davranışlar<br>
- Yaşamımızda sürekli tekrar eden sorunlar<br>
gibi pek çok konuda çalışabiliriz.<br>
Aile Diziliminin sağladığı anlayış ve iç görü ile, tek başına olmadığımızı, daha büyük bir bütünle bağlantılı olduğumuzu hissederiz, daha rahatlamış, mutlu ve sağlıklı, tatmin edici bir hayat yaşar, canlanır ve büyürüz.<br>
Bu çalışma, nesiller boyunca bilinç dışı bir şekilde taşıdığımız kalıpları ve kilitlenmeleri keşfetmemiz için bir yoldur. Ailede hiç dile dökülmemiş, gizli bir şekilde işlemeye devam eden bu kalıplar, fark edilir hale geldiğinde doğal bir şekilde çözülür. Egonun ötesindeki asıl gücümüze kavuşur, gerçek anlamda kendimiz olarak, yaşamla uyum içinde yolumuza devam edebiliriz.<br><br>

<b>Aile Dizilimi ile ilgili aklınıza gelebilecek bazı sorular:<br><br></b>

<b style="color:rgb(57, 96, 148)">İZLEYİCİ OLARAK KATILMAK İSTİYORUM, NE YAPMALIYIM?<br></b>
Dizilime katılın ve süreci izleyin. Dizilimler sırasında, sizden bir temsilci olmanız istenebilir. Bu daveti kabul edebilir veya geri çevirebilirsiniz, herhangi bir açıklama yapmanıza da gerek yoktur. Aile Dizilimi kolektif bir çalışmadır ve katılan herkesi kapsar. Başkasının dizilimine temsilci olarak katılanlar ya da sadece çalışmayı izleyenler, kendi aile dizilimini yaptıranlar kadar güçlü deneyimler yaşayabilir, faydalanabilir.<br><br>

<b style="color:rgb(57, 96, 148)">TEMSİLCİ OLMAK NE DEMEKTİR?<br></b>
Kendi meselesi üzerine bir dizilim çalışması yapmak isteyen kişi, ailesinin üyeleri için, çalışmaya katılan kişiler arasından temsilciler seçer. Temsilciler bazı bedensel hisler, duygular ya da düşünceler deneyimleyebilir, bazı görüntülerle karşılaşabilir. Temsilci olmak rol yapmak değildir. Temsilciler, belirli bir senaryoya göre hareket etmezler. Temsilci olan kişi sadece bekler ve deneyimlediği hisleri fark eder, dizimci sorduğunda bunları ona rapor eder. Temsilci olmak, herhangi bir özel eğitim, deneyim ya da yetenek gerektirmez.<br>

Grup çalışması 1 tam gün olarak gerçekleşecektir.. En fazla 6 Dizim planlanabildiğini belirtmek isteriz. <br>

Temsilci ve Dizilim kayıt ve ücret bilgisi için; 0242 3160747
0530 1120979 numaralarından ulaşabilirsiniz.
<br>
<br>
<b style="color:rgb(57, 96, 148)">ANTAR SATYA<br></b>
Satya,
Aile Dizimi ile ilk kez 2003 yılında Svagito Liebermeister’in çalışmalarında karşılaştı. 2003-2012 yılları arasında ağırlıklı olarak Svagito Liebermeister ve Anand Rumen Yankulov olmak üzere, pek çok terapistin Aile Dizimlerine katıldı, farklı yaklaşımları gözlemleme fırsatı oldu. Bu süreçte Türkiye, İtalya, Norveç, Bulgaristan ve Yunanistan’da, Primal ve Tantra şifa süreçlerinden geçti, Mystic Rose, Awakening of Love gibi grup süreçlerini, Sufi ve Şamanik grup çalışmalarını, nefes terapilerini tecrübe etti. 2012 – 2015 yılları arasında Bulgaristan’da Rumen Yankulov’un Aile Dizimi Uygulayıcısı Eğitimi’ni tamamladı. Aynı dönemde, Svagito ile Danışmanlığın Zen Yolu eğitimini (1.Bölüm) aldı; Faisal Muqaddam tarafından kurulmuş Diamond Logos öğretilerinin İstanbul öğretmeni Emilio Mercuriali ile grup çalışmalarına, 2 yıl boyunca düzenli olarak katıldı. Satya, Aile Diziminin yanısıra Kadın Çemberi çalışmaları yapıyor.</p>
<img src="{% static 'fotoğraflar/antar-satya-etkinlik1.jpeg' %}" style="width: 30%; margin-left: 15%; border-radius: 4%">
<img src="{% static 'fotoğraflar/antar-satya-etkinlik2.jpeg' %}" style="width: 30%; margin-left: 5%; margin-right: 15%; border-radius: 4%; float: right">
{% endblock %}