{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="title" id = "title">Antar Satya ile Kadın Çemberi</h1>
<img src="{% static 'fotoğraflar/27752226_2084737728428193_5656249718529365839_n.jpg' %}" style="width: 50%; margin-left: 20%; border-radius: 4%; max-height: 500px">

<p class="content">İçinizdeki Tanrıçanın gücünü ve enerjisini yaşamaya hazır mısınız?<br><br>

Bu bir günlük çalışmada, her kadının doğuştan sahip olduğu Tanrıça arketipinin farklı yüzleri ile tanışacağız. Arketipler, ancak bir deneyimle harekete geçirildiklerinde yani tetiklendiklerinde, görünüşe çıkarlar. Tetiklenmeyen, harekete geçmeyen bir arketip algılanamaz. Tanrıça gücünün aktive olması, bize doğamızdaki Tanrıça’nın hediyelerini sunar, ayna etkisi yapar, kendi halimizi ve yaşamımızın hangi aşamasında bulunduğumuzu gösterir.<br>

Potansiyel dişi niteliklerimizin temsilcisini harekete geçirmek için sohbet, dans, rehberli meditasyon ve egzersizlerden faydalanacağız, Tanrıça'nın gücünü ve enerjisini yaşamımıza davet edeceğiz.<br>

Buluşmaya gelirken rahat oturup, hareket edebileceğiniz, yine de içinde kendinizi dişi hissettiğiniz giysiler giyebilirsiniz – aktif meditasyon ve dans sırasında terleme olasılığına karşı yanınızda yedek giysi getiriniz.<br>

Etkinlik tam günlük bir etkinliktir. <br>

Kayıt için 0242 316 0747 / 0530 1120979 nolu telefonlardan ulaşabilirsiniz.<br>

<b>Antar Satya<br></b>

Satya, Aile Dizimi ile ilk kez 2003 yılında Svagito’nun çalışmalarında karşılaştı. Aynı dönemde, Osho meditasyonlarıyla da tanıştı ve hayatının yönü değişti. Svarup ve Premartha’nın Primal ve Tantra şifa süreçlerinden geçti. Türkiye, İtalya, Norveç, Bulgaristan ve Yunanistan’da katıldığı çeşitli workshop ve meditasyonlarda, Devapath, Aneesha, Dwari , Tarika, Prathiba, Bhagat gibi terapistler ile çalıştı; Mystic Rose, Awakening of Love gibi grup süreçlerini, Sufi ve Şamanik grup çalışmalarını, nefes terapilerini tecrübe etti.<br>
2003-2012 yılları arasında Svagito Liebermeister ve Anand Rumen Yankulov’un yanısıra, pek çok başka terapistin de Aile Dizimlerine katıldı, farklı yaklaşımları gözlemleme fırsatı oldu. <br>
2012’de Rumen Yankulov’un ilk olarak Bulgaristan’da başlattığı Aile Dizimi Uygulayıcısı Eğitimi’ne adım attı. Teori, metodoloji, kişisel deneyim, uygulama ve süpervizyon altında çalışmayı içeren bu uzun süreli eğitim sürecini 2015’te tamamladı. Yine bu süreçte Svagito ile Danışmanlığın Zen Yolu eğitimini (1.Bölüm) aldı.
Faisal Muqaddam tarafından kurulan Diamond Logos’un öğretmenlerinden Emilio Mercuriali’nin grup çalışmalarına, 2 yıl boyunca düzenli olarak katıldı. Kişiyi gerçek özü ile bağlantıya geçirmeye odaklanan bir ruhsal keşif ve gelişim yolu olan Diamond Logos Öğretileri, yolculuğunda Satya’yı her daim desteklemeye devam ediyor.
Satya, Mimar Sinan Üniversitesi Sinema Tv Bölümü 1999 yılında mezun olduktan sonra, sinema, reklam filmi ve etkinlik organizasyonu alanlarında çalıştı. Hem üniversite eğitimi sırasında hem profesyonel yaşantısında büyük ustalarla çalıştı ve mesleğini hep çok sevdi. Ancak meditasyon yaşamında giderek daha fazla öncelik kazandı ve 2010 yılında aldığı Antar Satya (Inner Truthfulness / İçsel Hakikate Sadık) ismi onun için “eve dönüş” oldu. Bugün geriye baktığında, attığı her adımın onu Aile Dizimi yolculuğuna biraz daha yaklaştırmış olduğunu görüyor. Satya, yaptığı seçimlerin, verdiği kararların, karşılaştığı kişilerin hiçbirinin tesadüf değil, ruhunun derinliklerinden gelen bilinçli eylemler olduğunu hissettiğini ifade ediyor.<br>
Satya, Aile Diziminin yanısıra Kadın Çemberi çalışmaları yapıyor. Bu çalışmalarda 1996’dan beri ilgilendiği, workshop ve seminerlerine katıldığı arketipler, rüyalar ve bilinçaltının sembol dili gibi kaynaklardan da yararlanıyor.</p>
{% endblock %}