{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="aydan-cerciler-background animated slideInLeft slower">
    <img src="{% static 'foto/logo-balon-removebg-preview.png' %}" class="balon-img"> 
    
    
    <p class="hizmet_ozel_alt_baslik">Aydan Çerçiler</p>
    </div>

<p class="hizmet_ozel_alt_baslik">Aydan Çerçiler</p>
<p class="hizmet_ozel_icerik">Yaşamımda her şeyin başı benim." <br>
    Yaşadıklarımız, yeteneklerimiz, kendimize ve çevremize ait bakış açımız bizi biz yapar. Kendimizle çalıştıkça, fark ettikçe, edindiğimiz alışkanlıklarımızı sorgulayabilir, davranışlarımızı geliştirebiliriz. Böylece birçok şey değişir ve gelişebilir. Yeterki isteyelim ve harekete geçelim.<br>
    <br> <b>Aydan Çerçiler kendi gelişim yolunda ilerlerken, gençlerin ve yetişkinlerin yaşam kalitelerini arttırmalarına yönelik;</b> <br> 
    * Ebeveyn-Çocuk/Genç  arası etkili iletişim ve İlişki Koçluğu<br>
    *Kişinin kendisiyle ve çevresiyle kurduğu etkili iletişim ve İlişkilerine yönelik<br>
    * Kişinin Özsaygısını güçlendirmek için farkındalık, motivasyon, moral ve istikrar sağlama üzerine koçluk çalışmaları yapmaktadır.<br>
    Hayatımızı etkileyen mazeret, suçlama ve sorumluluktan kaçma özelliklerinin üzerinde yoğun bir şekilde durmaktadır. <br>
    Kişinin yeterlilik duygusunu ve güçlü yönlerini fark etmesine destek vererek, birey olarak içsel gücünü keşfetmesine ve hayata karşı duruşunu netleştirmesine alan yaratmayı hedeflemektedir. 
    <br><br>
    Aydan Çerçiler Antalya'da  Terranova_Hayat Merkezi çatısı altında "Hayata Dair Her Şey" iĺe ilgili etkinliklere kapısını açmakla birlikte, kendi bireysel çalışmalarını yetişkin, çocuk ve gençlerle yürütmektedir.  Stres, öfke, odaklanma, öğrenmeyi kolaylaştırma, moral, cesaret gibi konularda ayrıca Kuantum Biofeedback Sistemi ile zaman zaman destek vermektedir. <br>
    Sosyal sorumluluk projeleri kapsamında her fırsatta Üniversite öğrencileriye bir araya gelerek yaşama dair gençlerin ufuklarını geliştirmek amacıyla ve ayrıca İlkokullarda öğrenciler ve veliler ile biraraya gelerek özgüven, başarı, iletişim ve değerlilik konularına yönelik seminlerler vermektedir.
    <br><br>
    <img class="hizmet_ozel_img" src="{% static 'foto/46bebf4b-8dfa-4a95-a96b-3aa4310da067.jfif' %}"><br>
    Aydan Çerçiler Almanya'da doğdu ve büyüdü, Ege Üniversitesi Alman Dili ve Edebiyatını bitirdi. Hizmet sektöründe uzun zaman yöneticilik yaptı. İnsan ilişkileri onun ilgi alanı oldu. Koçluk eğitimlerini tamamladıktan sonra, bireysel gelişim konusunda Kuraldışı Akademi'de Nil Gün ve Saim Koç ile Yaşam Okulu, Bütünsel Kinesiyoloji ve ardından Özsaygı üzerine bir staj dönemi, Almanya'dan 2 yıllık uzaktan eğitim Psikoloji Temel Eğitimi,  Kerem Şenoglu ile Kuantum Çekim Yasası ve Sosyal Profiller, Yasemin Sungur ile Yaratıcı Yazı Atölyesi, Max Dauskardt ile 2,5 yıl süren Aile Dizilimi, Svagito Liebermeisterin Aile Dizilimi Atölye çalışmasına katılarak ve ayrıca Seda Bağcan'ın da değerli rehberliği ile, kendi gelişimine katkı sağlamıştır. <br>
    Aydan ömür boyu eğitim ve gelişim ilkesine inanmaktadır ve fırsat buldukça farklı atölye çalışmalarına katılmaya devam etmektedir.<br>
    Ailesiyle bolca vakit geçirmeyi, fırsat buldukça yeni yerler tanımayı, seyahat etmeyi, kitapların büyülü dünyasına dalmayı, doğa yürüyüşleri ve eş dost sohbetlerini ve en son olarak yazı yazmayı kendine haz aldığı fırsat alanları olarak tanımlar. Kehanet  adında bir çocuk kitabı çevirisi vardır. <br>
    <br>
    En büyük hazinesini ailesi olarak gören Aydan  Haluk'la evli olup, Doruk, Mert ve Alya adında 3 çocukları vardır💞
{% endblock %}