{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="title">Dila Selengil Ertemli ile Bilinçaltı Kök İnançlarımız  ve İlişkiler</h1>
<img src="{% static 'fotoğraflar/WhatsApp Image 2018-11-11 at 9.25.56 AM.jpeg' %}" style="width: 35%; margin-left: 32%; border-radius: 4%; max-height: 500px; margin-top: 2%" >
<p class="content"> Sevgili Dila Selengil Ertemli ile Bilinçaltımızla ilgili çok ilginizi çekecek bir konuya değiniyoruz. "Bilinçaltı kök inançlarımızın ilişkilerimiz üzerindeki etkileri." Farkında olmadan ne kadar çok çocukluğumuzdaki kalıpları tekrar ediyoruz ve ilişkilerimize yansıtıyoruz? Sonra da neden, niçinler kasıp kavuruyor zihnimizi. Nedenleri niçinleri kolaylıkla anlayabileceğimiz bir söyleşi olacak. Sorular sorabileceğimiz ve uzmanından rahatlıkla yanıt alabileceğimiz bir fırsat...
07.12.2018 tarihinde saat 11.00-12.30 veya 18.30 -20.00 da gerçekleştireceğimiz söyleşimizi kaçırmayın.<br>

<b>Dila Selengil Ertemlinin kaleminden bilgileri sizlere aktarıyorum. </b>
<br>
 Merhaba, Sevgili Antalyalılar. Bilinçaltı Kök İnançların İlişkilerimiz Üzerindeki Etkisi konulu seminerime davetlisiniz. Bilinçaltı kök inançlar sorgulama yeteneğinin gelişmediği 0-6 yaş arası oluşur. Amacı kişiyi yaşama hazırlamak, tehlikelerden korumak ve hayatta tutmaktır. Kök inançlar kişiyi destekleyebildiği gibi bunun tam tersi kişiyi engelleyen inançlar şeklinde de olabilir. Korkuların, kaygıların, bağımlılıkların, olumsuz düşüncelerin ve tepkisel davranışların temel kaynağıdır. Geliştirdiğimiz inançlar, bireyin kendisi ve başkaları ile ilgili düşüncelerini, hayata bakışını, paraya ve sağlığa karşı olan tutumunu, romantik ilişkilerini ve kendisine olan güvenini belirler. Bu seminerde bilinçaltı kök inançların nasıl oluştuğunu ve bu inançların hayatımıza olan olumsuz etkisini nasıl değiştirebileceğimizi konuşacağız. <br><br>

* Kontenjanımız sınırlı olduğundan dolayı lütfen kayıt yaptırınız.
<br><br>
Yer: Terranova Koçluk Merkezi
<br><br>
Tarih: 07.12.2018 Cuma
<br><br>
Saat: 11.00 - 12.30 ve 18.30 - 20.00
<br><br>
Katılım Bedeli : 50,- TL
<br><br>
İletişim: 316 07 47 / 0530 1120979<br><br>
<b>Dila Selengil Ertemli Hakkında<br></b><br> 
Hayatımın doyumsuz ve sağlığımın kötüye gittiği bir gün kendimi bireysel gelişim eğitimlerine katılırken buldum. Sanki yıllardır derin bir uykudaydım ve bir anda gözlerimi açıvermiştim. Bildiğim birçok doğrunun aslında beni tüketen ve mutsuz eden şeyler olduğunu fark etmeye başlamıştım. Çocuklarımla ve eşimle olan ilişkimi en baştan revize etmeye başlamamla birlikte hayatımda birçok şey değişivermişti. Bir yandan tekrar sağlığıma kavuşurken bir yandan da daha doyumlu ve keyifli bir hayat sürmeye başlamıştım. Korkularımla yüzleşmek ve onların üstesinden gelebilmek beni enerjik ve hayat dolu bir kadın yapmıştı. Kendi hayatımda yaptığım değişim ve geçirdiğim dönüşüm başka insanlara ilham olmaya başlamıştı. Bu durumdan aldığım keyif ve heyecan beni bu günlere taşıdı. <br><br>
İlk olarak; <b>NLP, Bütünsel Kinesiyoloji (Bedensel, ruhsal ve duygusal denge çalışmaları) , İlişkiler, İletişim, Koçluk Formasyonu, Bütünsel Nefes Eğitimi, Özsaygı, Amaç Belirlemek, 5 Element Ve Meridyen (Çin Tıbbı)</b> eğitimleri aldım. Sonrasında Kuraldışı Eğitim ve Danışmalık firmasında 5 sene boyunca önce eğitmen yardımcılığı sonra eğitmenlik ve danışmanlık yaptım. “Öğrenmenin yaşı yoktur” düşüncesiyle insanı her alanda daha iyi tanımak için Anadolu Üniversitesi, <b>Sosyoloji</b> bölümünde okumaya başladım. Bununla beraber psikolojiye olan ilgimin artmasıyla, İstanbul Aydın Üniversitesi,<b> Psikoloji Yüksek Lisansımı </b>tamamladım. Psikonet Psikolojik Danışmanlık’ ın kurucusu Psikiyatr Alp Karaosmanoğlu’undan, beni çok heyecanlandıran ve bilinçaltı kök inançlar (şemalar) üzerinde çok etkili olan <b>Şema Terapi</b> eğitimini aldım. Öğrenmenin keyfini almış biri olarak yaşamım boyunca yeni şeyler öğrenmeye devam etmeyi hedefliyorum.<br><br>
Şu an kendi değişim, döşünüm deneyimlerimi ve akademik bilgimi harmanlayarak hazırladığım <b>“Farkındalık, Değişim ve Dönüşüm Grup Çalışmalarında Eğitmenlik”, “Bedensel Enerji Dengeleme Danışmanlığı”</b> ve <b>“Kişiye Özel Bilinçaltı Danışmanlığı” </b>yaparak başka insanlara rehberlik ediyorum ve hayat amacımı gerçekleştirmenin keyfini çıkarıyorum. 
 </p>
{% endblock %}