{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="title" id = "title">Dila Selengil Ertemli ile Bilinçaltı Kök İnançları Atölyesi</h1>
<img src="{% static 'fotoğraflar/48052430_2286638711571426_6915607536582262784_o.jpg' %}" style="width: 50%; margin-left: 20%; border-radius: 4%; max-height: 500px">
<p class="content"><b>Bilinçaltı Kök İnanç Atölyesi (Temel Seviye)</b><br><br>
<b style="color: #7f919b"> 4 Günlük Atölye Çalışması; 20-21 Aralık ve 27-28 Aralık Perşembe-Cuma günleri 10:00 ile 17:00 arası</b>
<br><br>
Doğduğumuz andan yaşamımızın sonuna kadar hepimizin temel fiziksel ve duygusal ihtiyaçları vardır. Bu ihtiyaçlar; güvenlik, sevgi, saygı ve sınırdır. Erken çocukluk döneminde bu ihtiyaçlarımız eksik ya da çok fazla karşılanınca dengeler bozulur ve olumsuz bilinçaltı kök inançlar oluşmaya başlar. Bu olumsuz bilinçaltı kök inançların etkisi hepimizde farklı şekillerde kendisini gösterir. <br></p>
<ul>
<li class="content">👉Bağımlılıklar (Alkol ve madde bağımlılığı, işkolizm, tüketen ilişkilere bağımlılık, seks bağımlığı, alış veriş bağımlılığı, internet bağımlılığı gibi) </li>
<li class="content">👉Bireysel sınırları korumakta güçlük</li>
<li class="content">👉Duygu ve düşüncelerini ifade etmekten çekinme,</li> 
<li class="content">👉Romantik ilişkilerde doyumsuzluk ve zorlanma, </li>
<li class="content">👉Sıkça haksızlığa uğrama duygusu</li>
<li class="content">👉Hayatının kontrolü başkalarının elinde duygusu</li>
<li class="content">👉Saldırgan ve tepkisel davranışlar</li>
<li class="content">👉Abartılı onay arayıcılıkSık sık olumsuz düşünmek</li>
<li class="content">👉Enerji düşüklüğü ve sıkça hastalanmak</li>
<li class="content">👉İstekler ve hayaller için harekete geçememe</li>
<li class="content" style="">👉Kendini başkaları için feda ediyorsan</li>
<li class="content">👉Sık sık öfkeli hissediyorsan</li>
</ul>
<p class="content">
Bu maddelerden bir ya da daha fazlası bende var diyorsan, olumsuz bilinçaltı kök inançlar iş başında demektir! Olumsuz bilinçaltı kök inançlar kişinin yaşam enerjisini içten iç tüketir. Kişiyi yorgun, bıkkın, depresif, öfkeli, endişeli hissettirir. Sağlıklı ilişkiler kurmasının önündeki en büyük engeldir.<br><br>

Temel Seviye eğitimimizde öncelikle 18 temel Bilinçaltı Kök İnançlar(Şemalar) hangileridir onları öğreneceksiniz. Farkında bile olmadığınız ama hayatınızı yöneten inançları keşfetmek için egzersizler yapma fırsatı bulacaksınız. Bu keşiften sonra otomatikleşmiş olumsuz davranışlar için birlikte kişiye özel bir aksiyon planı yaparak istediğiniz değişimleri hayatınıza daha kolay geçirmenizi hedeflemekteyim.</p>
{% endblock %}