{% extends 'base.html' %}
{% load static %}
{% block content %}


<h1 class="title" style="margin-left: 9%">Blog</h1>
<div class = "blog-sayfa"> 
<div class="blog-sayfa-madde" >
		<h3 style="color: #da1b1b; text-align: center;" id = "title"> Kurban mı? Kurtarıcı mı?</h3>
		<img src="{% static 'foto/Kurban-mısınız-Kurtarıcı-mı-768x518.jpg' %}" class="blog-madde-img" style="width: 100%;">
		<p>Bazı insanlar vardır dünyanın bütün terslikleri onları bulur. Kendilerini şanssız ve mağdur hissederler. Başlarına ne gelirse gelsin, kendi inisiyatiflerinin dışında geliştiğini savunurlar. Yani kurban psikolojisi içindedirler. Mağduriyetlerini ifade ederlerken, suçlayacakları birilerini ararlar. Uğradıkları haksızlıkları anlatarak, herkesin onların bu durumlarını onaylamasını ve anlayış göstermesini isterler. Bu durumda kendilerine düşen payı da es geçerler. Etrafınıza baktığımızda benzer yapıda[...]</p>
<button class="btn-blog"><a href="Kurban-mi-kurtarici-mi.html"> Tümünü Gör</button></a>
	</div>
	<div class="blog-sayfa-madde" >
		<h3 style="color: #da1b1b; text-align: center;" id = "title"> Saatli Bomba</h3>
		<img src="{% static 'foto/blog/3.png" class="blog-madde-img' %}" style="width: 100%;">
		<p>Tik tak, tik tak saatli bomba tik tak. <br>
		Dünya hali tik tak...<br>
		Kafamızdaki tik tak...<br>
		Ciğerimizdeki tik tak...<br>
		Kalbimizdeki tik tak...<br>
		Her tarafımızda tik tak...<br>
		Trafik tik tak...<br>
		Bu bombayı kim kurdu dersin? Tik tak...<br>
		Yaratımı kimden geldi? Tik tak...<br>
		Düşün...<br>
		Neden diye sorsan? Tik tak...<br>
		Tik takı çözsen?<br>
		Nasıl? Sorusu mu geldi?[...]</p>
<button class="btn-blog"><a href="blog-saatli-bomba.html"> Tümünü Gör</button></a>
	</div>
	<div class="blog-sayfa-madde" >
		<h3 style="color: #da1b1b; text-align: center;" id = "title"> Kaybettiklerimiz...</h3>
		<img src="{% static 'foto/blog/4.png' %}" class="blog-madde-img" style="width: 100%;">
		<p>Bir çocuğa tavır alıp, baskı ve incitici  sözlerle gruptan ayrı tutmak, çoğumuzun duyduğu, karşılaştığı veya yakınında gözlemlediği durumdur.
Bu durum akran zorbalığı olarak da nitelendirilmektedir. Zorbalık  ile çatışmayı birbirinden ayırt etmek çok önemli. Fikir ayrılıkları çocukları  ve gençleri geliştiren ve doğal olan bir süreçtir. Kişisel sınırlarını ihlal edip duygusal incinme ve dışlanma söz konusu ise zorbalıktan bahsedebiliriz. Sosyal ve Bireysel  Zorbalıklardan bazı örnekler[...]</p>
<button class="btn-blog"><a href="blog-kaybettiklerimiz.html"> Tümünü Gör</button></a>
	</div>
	<div class="blog-sayfa-madde" >
		<h3 style="color: #da1b1b; text-align: center;" id = "title"> Cesaret ve Parazit Düşünceler</h3>
		<img src="{% static 'foto/blog/7.png' %}" class="blog-madde-img" style="width: 100%;">
		<p>Hayatımızı doğrudan etkileyen insanlar vardır. Ebeveynlerimiz, büyük annelerimiz ve büyük babalarımız. Kimimiz büyük annelerimizi büyük babalarımızı belki de onların da bir ebeveyn parçasını tanıma şansını elde etmişizdir, kimimiz ise  anne, babasına bile doyamadan, onları kaybetmenin hüznünü yaşıyordur.Kaybettiklerimizle bir tarafımız eksik kalmış gibi hissederiz. Anılarda kalır tüm yaşadıklarımız. Onları hatırladıkçaOnları hatırladıkça bazılarımız buğulu[...]</p>
<button class="btn-blog"><a href="blog-cesaret-ve-parazit-düşünceler.html"> Tümünü Gör</button></a>
	</div>
	<div class="blog-sayfa-madde" >
		<h3 style="color: #da1b1b; text-align: center;" id = "title"> Çocuklar ve Yalan</h3>
		<img src="{% static 'foto/blog/9.png' %}" class="blog-madde-img" style="width: 100%;">
		<p>Dün bir soru yayınladım çok güzel geribildirimler aldım. Katkılarınız için çok teşekkürler. Öncelikle çocuğunun yalan söylediğini fark eden anne ve babaların hayal kırıklıklarını anlıyorum. Bazılarının güven duygusu zedelenebiliyor veya "benim çocuğum nasıl yalan söyler" gibi sorular uçuşabiliyor. 
Ancak çocuğun davranışına odaklanmadan önce kendimize dönüp davranışlarımızı sorgulamanın doğru olacağını düşünüyorum. Burada nedenlerini birlikte inceleyelim;Mükemmel çocuk[...]</p>
<button class="btn-blog"><a href="blog-çocuklar-ve-yalan.html"> Tümünü Gör</button></a>
	</div>
	<div class="blog-sayfa-madde" >
		<h3 style="color: #da1b1b; text-align: center;" id = "title"> Mükemmeli Ararken</h3>
		<img src="{% static 'foto/blog/10.png' %}" class="blog-madde-img" style="width: 100%;">
		<p>Mükemmel insan nasıl olunur?<br>
Mükemmel kadın, erkek, çocuk, eş, anne veya baba?<br>
Mükemmel bir iş nasıl gelişir?<br>
Nedir sahi mükemmellik? <br>
Mükemmellik hatasızlık, kusursuzluk mudur? Veya belli başlı geliştirilen kriterlere uyma hali midir? <br>
Mükemmel eş için kriterlerimiz nelerdir mesela?  Sevecen, nazik, ilgili desem hepimiz gülümser ve başımızla onaylarız.<br>
Peki biz de aynı kriterleri yerine getiriyor  muyuz?[...]</p>
<button class="btn-blog"><a href="blog-mükemmeli-ararken.html"> Tümünü Gör</button></a>
	</div>
	<div class="blog-sayfa-madde" >
		<h3 style="color: #da1b1b; text-align: center;" id = "title"> Tembellik Hakkı</h3>
		<img src="{% static 'foto/blog/11.png' %}" class="blog-madde-img" style="width: 100%;">
		<p>Insan suçluluk duyar mı? <br>
Yapılacaklar listesi kabarık. Sorumluluklar sırada bekler, ama benim canım bugün durmak ve tembellik etmek ister. Bir gün tembellik hakkı yok mudur insanın?
Kırmızı acil fren sinyali, meditasyonlarda, okuduklarımda dinlediklerimde her yerden aynı sinyal. "Dur!" Durmak kötü birşey değil. Bir idrak anı olabilir. Bir kendine dönme halidir. Sessiz, kimsesiz, bir başına kalma isteği. Sizi bilmem ama ben kendimle kalmayı severim, hatta ihtiyaç duyarım.[...]</p>
<button class="btn-blog"><a href="blog-tembellik-hakkı.html"> Tümünü Gör</button></a>
	</div>
	<div class="blog-sayfa-madde" >
		<h3 style="color: #da1b1b; text-align: center;" id = "title"> Yardım Etmeden Önce</h3>
		<img src="{% static 'foto/blog/14.png' %}" class="blog-madde-img" style="width: 100%;">
		<p>Minicik bir kedi bugün kaleiçinde bahçemize düştü. Feryatlar içinde bağırıyordu. Biz içeride olayı anlayana kadar, anne kedi bahçe duvarından bakıyor ve insan gibi yavrusuna el uzatıyordu.  Yardım etmek istiyordu. <br>
Ben de hemen yardım etmek için harekete geçtim. Birden  içimdeki ses "dur!" dedi.<br>
"Yardım etmek istiyorsun. Kediyi alıp annesine vermek istiyorsun." "Evet! yardım etmeliyim" diye yankılandı içimdeki ikinci ses. Yardım edersem düşen kedi için doğru şeyi yapmış[...]</p>
<button class="btn-blog"><a href="blog-yardım-etmeden-önce.html"> Tümünü Gör</button></a>
	</div>
	<div class="blog-sayfa-madde" >
		<h3 style="color: #da1b1b; text-align: center;" id = "title"> Fırtına ve Güneşin Oyunu</h3>
		<img src="{% static 'foto/blog/15.png' %}" class="blog-madde-img" style="width: 100%;">
		<p>Öfkeyi tanımla deseler; en şiddetlisinden fırtınayı tanımlardım.<br>
Gökyüzü tüm gücüyle kuvvetiyle gürler.<br>
Sert rüzgarlar eser, etraf yıkılır. Şimşekler çakar ve ortalığı karıştıran hortumlar içten içe içine alırlar yoluna düşenleri. Fırtınanın en  kötü yanı ise, hasarın  önceden hesaplanamamasıdır.<br>
İçimizdeki fırtına da aynı değil midir? <br>
İsyan ederiz olan bitenlere, sert rüzgarlar estiririz. "Çığlık atsak, ulaşır mı sesimiz?" Yıldırım yapacağını yapar,  ardındaki  bulutlar çarpışırken[...]</p>
<button class="btn-blog"><a href="blog-fırtına-ve-güneşin-oyunu.html"> Tümünü Gör</button></a>
	</div>
	<div class="blog-sayfa-madde" >
		<h3 style="color: #da1b1b; text-align: center;" id = "title"> Çocuklarda Dışlanma ve Zorbalık</h3>
		<img src="{% static 'foto/Screenshot_20180917-150729.png' %}" class="blog-madde-img" style="width: 100%;">
		<p>Bir çocuğa tavır alıp, baskı ve incitici  sözlerle gruptan ayrı tutmak, çoğumuzun duyduğu, karşılaştığı veya yakınında gözlemlediği durumdur.
Bu durum akran zorbalığı olarak da nitelendirilmektedir. Zorbalık  ile çatışmayı birbirinden ayırt etmek çok önemli. Fikir ayrılıkları çocukları  ve gençleri geliştiren ve doğal olan bir süreçtir. Kişisel sınırlarını ihlal edip duygusal incinme ve dışlanma söz konusu ise zorbalıktan bahsedebiliriz. Sosyal ve Bireysel  Zorbalıklardan bazı örnekler[...]</p>
<button class="btn-blog"><a href="çocuklarda-dışlanma-ve-zorbalık.html"> Tümünü Gör</button></a>
	</div>
	<div class="blog-sayfa-madde">
		<h3 style="color: #da1b1b; text-align: center;"> Stres ve Moral</h3>
		<img src="{% static 'foto/stone-pile-1307644_1280.jpg' %}" class="blog-madde-img" style="width: 100%">
		<p>Herşeyin başı moral. Moralimiz yüksek olduğunda birçok şeyle daha kolay baş edebiliriz. Üstesinden gelemiyeceğimizi düşündüğümüz konulara, cesaret ve inanç geliştirmemizi moralimiz sağlar. Moral sayesinde daha kolay adım atarız. İlişkilerimizde, işimizda, okulda, sınavlarda, sporda her yerde moral birinci sırada yer alır.
Hastalıkların iyileşme süreçlerini tetiklemek için de en çok morale ihtiyaç vardır. 
Stres hayatımızın her köşesinde var. Bizi tetikleyen yapıcı   [...] </p>
<button class="btn-blog"><a href="stres-ve-moral.html"> Tümünü Gör</button></a>
</div>
	<div class="blog-sayfa-madde">
		<h3 style="color: #da1b1b; text-align: center;"> Kişiliğimizi Tanıyalım</h3>
		<img src="{% static 'foto/Screenshot_20180917-144844.jpg' %}"  class="blog-madde-img" style="width: 100%">
		<p>Niçin bazı insanlar sakinlik ve kendi içlerinden enerji alırken, kimileri dışarıdan ve sosyal ortamlardan beslenirler?<br>
Niçin bazılarımız sezgilerini dinlerken, bazılarımız mantık  ve verilerle hareket ederler?<br>
Dünyaya birtakım özelliklerimizle birlikte geliriz. Bu özelliklerimiz çocukluk yıllarında dış etkenlere bağlı olarak edindiğimiz deneyimlerimizle biçimlenir. Yaşama dair bakış açımız, düşüncelerimiz ve davranışlarımız bu özelliklerimize bağlı olarak gelişir... </p>
<button class="btn-blog"><a href="tiplemeler.html"> Tümünü Gör</button></a>
	</div>
	</div>
{% endblock %}