{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="title" id = "title">Elif Şandan Doygun İle Nefes Atölyesi</h1>
<img src="{% static 'fotoğraflar/21755ba7-f9a6-432f-a673-5ff6f5cafef8.jpg' %}"  style="width: 50%; margin-left: 20%; border-radius: 4%; max-height: 500px">
<p class="content">Doğru Nefes Alma & Nefes Teknikleri Atölyesi 4 Nisan 2019 saat 10.00 da. 3 haftalık bir program; her Perşembe uygulamalı nefes tekniklerini öğreniyoruz.<br>


Nefes, her şeydir. <br>
Nefes, yaşam demektir. <br>
Nasıl nefes alıp verdiğiniz ve nefesinizin kalitesi sinir sisteminizi, dolaşım sisteminizi, duygularınızı, düşüncelerinizi ve tüm sağlığınızı etkiler. 
Dolu Dolu bir program. Kendi kendimize arkadaşlar arasında bu çalışmayı yapmak isterseniz en az 5 kişi toplanmanız yeterli.<br>
Kapalı grup çalışmasını ortak zaman yaratarak programlamak mümkün. Yok ben yeni insanlarla tanışmak istiyorum, farklı bir ortam daha çok hoşuma gider derseniz de, Perşembe günleri saat 10.00 daki açık grup çalışmasına katılabilirsiniz. Yeter ki kendiniz ve sağlığınız için bu zamanı ayırın:) <br>
Herkesin kolaylıkla bu çalışmadan faydalanabilmesi için; 3 Haftalık paket program toplam 4 grup çalışmasından oluşmaktadır.
Hemen yerinizi ayırın; <br>
Terranova Koçluk Merkezi 0242 3160747 / 0530 112 0979
<br>


Nefes Teknikleri ve Yoga Eğitmeni Elif Şandan Doygun ile gerçekleşecek atölyeye katılarak, hem “nefes” hakkında teorik bilgiler öğrenip, hem de uygulamalar yaparak, bu nefes tekniklerini hayatınıza kolaylıkla taşıyabilir ve yaşam kalitenizi yükseltebilirsiniz. Doğru nefes almayı hatırlamak, yeniden öğrenmek ve hayatına taşımak isteyen herkes bu programa katılabilir. <br>
Atölyede öğreneceğiniz pratik uygulamalar günlük hayatınızda, zihnen, bedenen ve ruhen çok daha sağlıklı bireyler haline gelmenizi destekleyecektir. <br>
<b style="color:rgb(57, 96, 148) ">Atölye içeriği <br></b>
Atölye içeriği genel hatlarıyla, aşağıdaki başlıkları kapsayacaktır: <br>
· Nefesi fark etme <br>
· Nefes almayı bilmek <br>
· Doğru nefesin tanımı ve adımları <br>
· Doğru nefes almanın & nefes tekniklerini uygulamanın önemi<br> 
· Nefes teknikleriyle stres, kaygı, öfke ve uyku bozukluğuyla baş etme <br>
· Günümüzde yaygın olan, özellikle stres kaynaklı yaşanan kaygı bozukluğu, panik atak gibi psikolojik rahatsızlıklarda, kişileri rahatlatacak, tedavilerine olumlu katkı sağlayacak nefes teknikleri egzersizleri <br>
· Kaliteli bir uyku için destekleyici nefes teknikleri <br>
· Dikkat eksikliği ve zihin dağınıklığını nefes teknikleri ile azaltma; zihni dengeleme ve odaklanma çalışmaları <br>
· Nefes teknikleriyle gevşeme, rahatlama egzersizleri .<br><br>


<b>Uzman Elif Şandan Doygun;</b><br><br>

1976 yılında İstanbul’da doğdum. Üniversite eğitimimi Ege Üniversitesi Halkla İlişkiler ve Tanıtım Bölümü’nde tamamladım. Ardından Pazarlama İletişimi üzerine İngiltere’de Bournemouth Üniversitesi’nde yüksek lisans yaptım. 2000 – 2010 yılları arasında İstanbul ve Antalya’da, çeşitli sektörlerde, kurumsal şirketlerde Kurumsal İletişim Uzmanlığı ve Yöneticiliği görevlerinde bulundum.<br>
2003 – 2009 yılları arasında yürüttüğüm çalışmaların yanında bireysel ve kurumsal gelişim alanında çok sayıda eğitim aldım. “Bireysel Davranışlarda İletişim Farkındalığı”, “Duygusal Zeka”, “Stres Yönetimi”, “Değişim Yönetirken Zirvede Performans”, “Kazanan Takım Olma”, “Yönetim Becerilerini Geliştirme” konularında sertifika programlarına katıldım. Maltepe Nefes Okulu’nda “Nefes Koçluğu” programını tamamlayarak, “Nefes Koçu” belgesini almaya hak kazandım.
Nefes çalışmaları, bana hem içsel, hem de mesleki olarak bambaşka kapılar açtı.. Ve kurumsal iletişim alanındaki çalışmalarımı bırakarak, kendimi tamamen bu alanda uzmanlaşmaya verdim.<br><br>
“Nefes” üzerine Türkiye’deki uzmanlarla sınırlı kalmak istemedim ve yurt dışında konusunda uzman psikiyatrist Dr. Stanislav Grof‘un psikoloji, benötesi psikoloji (transpersonal psychology) ve holotropik nefes çalışması üzerine verdiği eğitim ve seminerlere katıldım. Yurtdışındaki nefes terapistliği üzerine gelişmeleri takip edebilmek adına, hala bu seminerlere katılımımı sürdürmekteyim.<br>
Çocukların hayata karşı bitmeyen merak duyguları, heyecanları, doğal halleri, onlarla çalışma tutkumun temeli oldu.. Ve bu tutku beni, çocuk yogası eğitimi almaya yöneltti. Bu doğrultuda dünyaca ünlü çocuk yogası eğitmeni, YogaKids’in kurucusu Marsha Wenig’in “Çocuk Yogası Eğitmenliği” programına katılarak, bu alanda eğitmen olmaya hak kazandım.<br>
Ardından bu konudaki bilgimi daha ileriye götürmek çin Aylin Tokcan’ın Uluslararası Yoga Federasyonu onaylı (IYF) “Çocuk ve Gençlik Yogası Eğitmenlik” eğitimine katıldım.<br>
Çocuk – Gençlik yogası derslerinde, onlara daha kapsamlı bir eğitim programı sunabilmek ve onlara faydalı olacak yöntemleri derslerime dahil edebilmek adına Eser Mutlu’dan “Kahkaha Yogası” eğitimi aldım ve Onur Erol & Tuncer Ediz Toksoy’un “Orff Schulwerk Okul Uygulamaları” & “Bedenden Oyuna, Oyundan Şarkıya” seminerlerine katıldım.<br>
Yoga çalışmalarına yetişkinleri de dahil edebilmek adına, Jiva Yoga’nın 200 saatlik Uluslararası Yoga Alliance onaylı “Temel Yoga Eğitmenlik Programı”na katıldım.
Yoga, hamilelerde de pek çok faydalar sağlayan bir yöntem.. Bu doğrultuda deneyimli hamile yogası eğitmenleri olan ve aynı zamanda doula olan Sevgili Ayca Yılmaz Gülseven ve Sevgili Nur Sakallı’nın “Hamile Yogası Hocalık Eğitimi“ne katıldım ve bu alanda da dersler vermeye başladım.<br>
Şu anda ise, nefes eğitmenliği geçmişimle beraber Çocuk – Gençlik Yogası’nı birleştirerek, Antalya’nın önde gelen okullarında Çocuklara – Gençlere yönelik yürüttüğüm “Çocuk – Gençlik Yogası & Nefes Atölyesi” çalışmalarının yanı sıra, Antalya’nın konusunda uzman merkezlerinde çocuklar, gençler ve yetişkinlere doğru nefes alma yöntemlerini ve nefes tekniklerini öğrettiğim atölyeler uyguluyor; yetişkinlere yönelik nefes terapilerine, yoga ve hamile yogası derslerine devam ediyor ve kurumlara yönelik “Doğru nefes alma & Nefes teknikleri ve Kahkaha yogasıyla kaygı ve stres ile baş etme” eğitimleri veriyorum.<br>
Yollarımızın iyilikle, sevgiyle kesişmesi dileğiyle..<br>
Sevgiyle ve sakin, derin nefeslerle kalın..♥<br>
Elif Şandan Doygun</p>
{% endblock %}