{% extends 'base.html' %}
{% load static %}
{% block content %}


<br>
<h1 class="title" id = "title"> Gençlerle ve Öğrencilerle Koçluk Çalışmaları</h1>
<img src="{% static 'fotoğraflar/IMG_0072.JPG' %}" style="margin-left: 13.5%; width: 70%; max-height: 600px; border-radius: 5%" >


<p class="content">Koçluk Çalışmalarında amacımız kişinin kendi yaşam yolunda kendi güçlü yönlerini, yeteneklerini geliştirmesini desteklemek ve yaşamın güç yönleriyle baş etmesinde farklı bakış açıları geliştirerek çözüm üretmesine yardımcı olmaktır.<br>
Danışanın değerleri ve varlığı ile yaşamda kendini değerli hissetmesini ve yaşamın getirdikleri ile baş edebilecek şekilde yeterli hissetmesine ve davranışlar geliştirmesine destek olmaktır.<br>
Koçluk çalışması önceden belirlenmiş prensipler, standartlar ve belirli bir sistem içerisinde kişinin kendini tanıma yolculuğudur.<br>
Gençler ile yapmış olduğum çalışmalarda  en çok sağlıklı özgüven geliştirmelerine ve özsaygısı yüksek bireyler olarak  gelişmelerine katalizör oluyorum.  En çok anlaşılmaya ihtiyaç duydukları zamanlarda profesyonel bir dost olarak onların gelişimlerine tanıklık etmek harika bir duygu. Her  birey eşsiz biricik ve tektir. Tabi ki olayları algılama ve yorumlama şekilleri de herkesin kendine özgüdür. <br>
İçine doğduğumuz kültür, aile, okul ve çevremiz bizim dünyaya hangi gözlüklerle baktığımızı belirler. <br>
Bu gerçeği göz önüne alarak doğru, yanlış demeden çalışmalarımızı sürdürürüz.<br>
Gençlerle farklı dinamiklerde çalışmalarımızı sürdürürüz. Başlıca üzerinde durduğum konular.<br>
<ul>
<b class="content">Öğrenci Koçluğu</b>
<li class="content">Kendine güven! Yeterliliklerinin farkında ol. ( Özgüven Çalışmaları)</li>
<li class="content">Kendini bil!  Kendinle ve çevrenle barışık ol.  (Özsaygı – Özdeğer – Özsevgi Çalışmaları)</li>
<li class="content">Stres ve Öfke ile baş etme yöntemleri.</li>
<li class="content">Kaygı ile baş etme.</li>
<li class="content">İhtiyacın olan sınırlarını belirle. Çevrenin seni yönetmesine son.</li>
<li class="content">Dikkat! karşında sen varsın. Engelleri aş</li>
<li class="content"> İletişimin püf noktaları. Anlamak  ve Anlaşılmak üzere</li>
<li class="content">Hayallerin ve sen. Kariyer Koçluğu</li>
<li class="content">SCIO Biofeedback ile Stres dengeleme, Odaklanma, Öğrenme Bozukluğu çalışmaları</li>
</ul>
<ul>
<b class="content">Çocuklar ile yaptığım farklı çalışmalar. <br></b>
<li class="content"> Özgüven ve Cesaret</li>
<li class="content">SCIO Biofeedback ile Kaygı ve odaklanma güçlüğü</li>
<li class="content">Sosyal yaşamda çözümsel yaklaşımlar. Durumsal koçluk çalışmaları.</li>
<li class="content">Eyvah beni  dışlıyorlar nasıl baş edeceğim?</li>
<li class="content">Çocukların korkulu rüyası; Akran zorbalığı ile nasıl baş edebilirim?</li>
<li class="content">Kinesyoloji  ve Nefes ile rahatlama teknikleri</li>
<li class="content">Kinesyoloji ve Nefes ile odaklanma teknikleri</li>


<br>
<p class="content" style="font-size: 0.9em; color: #396099" >
<i>Çalışmalarımızın hiç biri tıbbi teşhis tedavi yöntemi içermemektedir. 18 yaş altında ki tüm bireylerde Ebeveyn izni olmadan çalışma yapılamaz. Koçluk görüşmeleri bir terapi yöntemi değildir. <br> 
Günümüz koşullarında her birimizin objektif bir bakış açısına ve desteğe ihtiyacı vardır. Koçluk çalışmaları kişinin kendi çözümünü kendisinin bulmasına yardımcı olmak ve tarafsız bir tutum içinde kişinin kendi doğrusunu bulmasına destek olmaktır. Koçluk çalışmaları bireyin yaşam yolculuğunda kendi güçlü yönlerini yeteneklerini ve potansiyelini keşfetmesine destek olmayı barındırır.</p></i>
{% endblock %}