{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="title" id = "title">Fatoş Berberoğlu ile Access Bilinciyle Yaşama Dair</h1>
<img src="{% static 'fotoğraflar/30168117_2123962777839021_2905208477118238392_o.jpg' %}"  style="width: 50%; margin-left: 20%; border-radius: 4%; max-height: 500px">
<p class="content">Olumlu veya olumsuz olayları farkında olmadan düşüncelerimizle ve bilinçaltımızda yarattığımız inançlarla hayatımıza çekebiliyoruz. Bazen yaratımın tarafımızdan gerçekleştiğini anlamak ve kabul etmek çok kolay değildir. <br>
İşte bu nedenle 25.04.2018 saat 18.30 ve 26.04.2018 tarihinde saat 13.30 da ücretsiz toplantımıza sizi bekliyoruz. <br>

Hoşnut olmadığınız veya hoşlanacağımız durumları nasıl yarattığımızı ve nasıl dönüştürebileceğimizi konuşuyor olacağız. <br>

Access Bars Uygulayıcı ve Eğitmeni Sevgili Fatoş Berberoğlu ile birlikteyiz.<br>

Uzun bir aradan sonra Access Consciousnness ve Access Bars uygulayıcı atölye çalışmasını Mayıs'ta Terranova Bütünsel Koçluk Merkezinde gerçekleştirmeyi planlıyoruz.
<br>
Ayrıca bereket ve bolluğu hayatımıza çekmenin yöntemleri; Para ile ilgili bakış açımızı geliştirme yollarını bulabileceğimiz
"Kolaylik ve Neşe ile Para Yaratmak" isimli atölye çalışmamız gerçekleşecektir.<br>

Aramızda kalsın ama eğitmenimizin araç çantası çok donanımlı. <br>
Farklı, farklı konularda 2-3 saatlik atölye çalışmaları yapacağız. Ayrıntılı bilgi ücretsiz tanıtım toplantımızda. Sakın kaçırmayın. Sınırlı kontenjan nedeni ile 0530 1120979 aramanız ve kayıt yaptırmanız gerekir.<br>

Bekliyoruz😊<br>
Fatoş Berberoğlu<br>
Ankara Universitesi DTCF Fransız Dili ve Edebiyatı bölümünden mezun olduktan sonra yıllarca özel sektörde calışırken 1998 yılında Sahaja Yoga ile tanışmış ve halen günümüze kadar çakra ve enerji kanalları enerjetik bedenin iyilestirilmesi meditasyon konularında Hindistan, Italya, Fransa, Yunanistan gibi ülkelerde yapılan uluslararası seminerlere katılmış Antalya, Fethiye, Alanya, Kemer başta olmak üzere ceşitli merkezlerde Sahaja Yoga egitimleri vermistir. <br>

2013 yilinda Life Coaching, Nlp Practitioner ve 2015 yılında Nlp Master Practitioner egitimlerini tamamlamıştır.<br>

2017 yılından beri Access Consciousness The Bars Uygulayici Sertifiklalı Eğtmeni olup Foundation, Choise of Possibilities Uluslararasi Egitimlerini alıp hayatımızda bizleri sıkıştıran konularda kolaylaştırıcılık atölyeleri düzenlemektedir.<br></p>
{% endblock %}