{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="title" id ="title"> Heal Your Life – Hayatınızı İyileştirin Workshop</h1>
<img src="{% static 'fotoğraflar/b9dc0350-be6c-4d22-b95e-feb96ddcc282.jpg' %}" style="width: 40%; margin-left: 30%; border-radius: 4%; max-height: 500px">
<p class="content">
Antalya'da Terranova Koçluk Merkezinde... Team Coaching ile ortaklaşa yürüttüğümüz bu değerli çalışmayı kaçırmayın. Bir çoğumuz Louise Hay'in muhteşem kitabını biliriz. Bana çok ilham olmuştur ve oluyor. Atölye çalışması beni heyecanlandırdı. Eminim ki katkısı büyük bir etkinlik."Heal Your Life" farklı, farklı uygulamaları içinde barındıran dinamik bir çalışmadır. Meditasyon, aynalama, iç cocuk çalışmaları bu çalışmalardan bir kaç tanesidir. <br>
Kayıt ve Bilgi için 05301120979 'u arayabilirsiniz veya mesaj atabilirsiniz.<br>
22.12.2018 ve 23.12.2018 de 2 tam günlük atölye çalışması Terranova Koçluk Merkezinde gerçekleşecek.<br> 
Heal Your Life Workshop® içsel olarak güçlü bir şekilde kendini görme, anlama, kabul etme ve kendini, başkalarını ve hayatı sevmeyi öğrenme deneyimidir. Dünyaca ünlü bu çalışma, dünyada Kişisel ve Spiritüel Gelişim’in öncüsü Louise L. Hay tarafından tasarlanmış ve geliştirilmiştir.<br><br>

Heal Your Life Workshop ® fiziksel- duygusal- zihinsel ve ruhsal olmak üzere katılımcı ile dört boyutta çalışır. Kişi, hayatın kendisine getirdiği deneyimlerin kök nedenlerini, hayatında sürekli tekrar eden benzer deneyimlerin ve kıramadığı kalıpların kendi iç dünyasında nasıl anlamlandığını keşfeder. Bunun yanı sıra, kendi düşüncelerinin, duygularının ve derinde yatan inançlarının hayatını nasıl etkilediği ile ilgili büyük bir farkındalık yaşar. Ancak süreç farkındalık boyutunda kalmaz. Heal Your Life Workshop®, kişiye kendini ve hayatını nasıl iyileştireceğini, hayatının her alanında daha mutlu, huzurlu ve tatminkar deneyimlere nasıl ulaşacağını uygulamalı olarak öğretir.<br><br>

<b> Atölye Liderleri : Kutsal Köse, Gönül Menekşe </b>
</p>
{% endblock %}