{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="title-iletisim">İLETİŞİM</h1> 
<hr class="hr-dark" style="width: 75%; margin-right: 20%;">

<div class="card" style="width: 70.3%; margin-left: 5%;">
    <div class="card-body">
       <img src="{% static 'foto/69524.png' %}" class="iletisim-icon"> 
       <p style="display: inline-block;">Eski lara yolu 1506 sok no 5 kat 3 daire 6 </p>
    </div>
  </div>
  <div id="map"></div>
  <div style="clear: both;"></div>
  <div class="card iletisim-alt">
    <div class="card-body">
       <img src="{% static 'foto/index.png' %}" class="iletisim-icon"> 
       <p style="display: inline-block;">0530 112 09 79  </p>
    </div>
  </div>
  <div class="card iletisim-alt" >
    <div class="card-body">
       <img src="{% static 'foto/images.png' %}" class="iletisim-icon"> 
       <p style="display: inline-block;"> 0 (242) 316 07 47  </p>
    </div>
  </div>
  <div class="card iletisim-alt" >
    <div class="card-body">
       <img src="{% static 'foto/mail-icon.png' %}" class="iletisim-icon"> 
       <p style="display: inline-block;"> a.cerciler@hotmail.com  </p>
    </div>
  </div>
  <div style="clear: both; margin-top: 5%;"></div>
  <a href="https://www.instagram.com/terranova_hayat/"><img src="{% static 'foto/instagram.png' %}" class="iletisim-icon-media"></a>
  <a href="https://www.facebook.com/terranovakocluk/"><img src="{% static 'foto/facebook-logo-button.png' %}" class="iletisim-icon" style="margin-left: 5%;"></a>
  <a href="https://www.martidergisi.com/author/aydan-cerciler/"><img src="{% static 'foto/seagull_sea_gull-512.png' %}" class="iletisim-icon" style="margin-left: 5%;"></a>
  <script>
   // Initialize and add the map
   function initMap() {
     // The location of Uluru36.857529, 30.739461
     var uluru = {lat: 36.857528, lng: 30.739444};
     // The map, centered at Uluru
     var map = new google.maps.Map(
         document.getElementById('map'), {zoom: 16, center: uluru});
     // The marker, positioned at Uluru
     var marker = new google.maps.Marker({position: uluru, map: map});
   }
       </script>
       <script async defer
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD9Syd9Tg-lS9FCvG5a_aqhzkzIMvcpkM&callback=initMap">
       </script>
   
   
   
{% endblock %}