{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="background animated slideInLeft" >
<h1 class = "hayat-title animated zoomIn slower delay-1s">Hayata dair </h1><br> <h1 class="hayat-title2 animated zoomIn slower delay-1s">her şey.</h1> 
<!--Carousel Wrapper-->
<div class="my-carousel animated fadeIn slow delay-2s">
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
		<!--Indicators-->
		<ol class="carousel-indicators">
		  <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
		  <li data-target="#carousel-example-2" data-slide-to="1"></li>
		  <li data-target="#carousel-example-2" data-slide-to="2"></li>
		  <li data-target="#carousel-example-2" data-slide-to="3"></li>
		  <li data-target="#carousel-example-2" data-slide-to="4"></li>
		  <li data-target="#carousel-example-2" data-slide-to="5"></li>
		  <li data-target="#carousel-example-2" data-slide-to="6"></li>
		  <li data-target="#carousel-example-2" data-slide-to="7"></li>
		  <li data-target="#carousel-example-2" data-slide-to="8"></li>
		  <li data-target="#carousel-example-2" data-slide-to="9"></li>
		  <li data-target="#carousel-example-2" data-slide-to="10"></li>
		</ol>
		<!--/.Indicators-->
		<!--Slides-->
		<div class="carousel-inner my-carousel-inner" role="listbox">
				<div class="carousel-item active">
						<div class="view">
						  <img class="d-block w-100" src="{% static 'foto/terranova-slide.jpg' %}"
						   alt="First slide">
						  <div class="mask rgba-black-light"></div>
						</div>
						<div class="carousel-caption">
						 <b> <h3 class="h3-responsive animated fadeInUp delay-1s">Terranova Hayat</h3></b>
						</div>
		</div>
		{%for hizmet in hizmetler%}
		{% if hizmet.id == 2 %}
		  <div class="carousel-item">
			<div class="view">
				<a href="{% url 'hizmet_ozel' hizmet.id %}" style="color: white;"><img class="d-block w-100" src="{% static 'foto/IMG_0204.JPG' %}"
			   alt="First slide" >
			  <div class="mask rgba-black-light"></div>
			</div>
			<div class="carousel-caption">
		<b> <h3 class="h3-responsive animated fadeInUp delay-1s">Aydan Çerçiler ile Bütünsel Koçluk</h3></b></a>
			</div>
		</div>
		{% endif %}
		{% endfor %}
		{%for hizmet in hizmetler%}
		{% if hizmet.id == 1 %}
		  <div class="carousel-item">
			<!--Mask color-->
			<div class="view">
				<a href="{% url 'hizmet_ozel' hizmet.id %}"><img class="d-block w-100" src="{% static 'foto/Webp.net-resizeimage (5).jpg' %}"
				alt="Second slide">
			  <div class="mask "></div>
			</div>
			<div class="carousel-caption">
			<b> <h3 class="h3-responsive animated fadeInUp delay-1s">SCIO ile Stres Dengeleme ve Odaklanma</h3></b></a>
			</div>
		  </div>
		  {% endif %}
		{% endfor %}
		{%for etkinlik in etkinlikler%}
		{% if etkinlik.id == 2 %}
		  <div class="carousel-item">
				<!--Mask color-->
				<div class="view">
				  <a href="{% url 'etkinlik_ozel' etkinlik.id %}"><img class="d-block w-100" src="{% static 'foto/yoga-terapi.jpg' %}"
					alt="Second slide">
				  <div class="mask "></div>
				</div>
				<div class="carousel-caption">
				</div></a>
			  </div>
			  {% endif %}
		{% endfor %}
		{%for hizmet in hizmetler%}
		{% if hizmet.id == 4 %}
		  <div class="carousel-item">
			<!--Mask color-->
			<div class="view">
				<a href="{% url 'hizmet_ozel' hizmet.id %}"><img class="d-block w-100" src="{% static 'foto/aile-dizilimi-slide.jpg' %}"
				alt="Third slide">
			  <div class="mask rgba-black-slight"></div>
			</div>
			<div class="carousel-caption">
				<b> <h3 class="h3-responsive animated fadeInUp delay-1s">Antar Satya ile Aile Dizilimi</h3></b></a>
			</div>
		  </div>
		  {% endif %}
		  {% endfor %}
		  
		  <div class="carousel-item">
				<!--Mask color-->
				<div class="view">
					<img class="d-block w-100" src="{% static 'foto/yaratici-yazi-etkinlikleri.jpg' %}"
					alt="Third slide">
				  <div class="mask rgba-black-slight"></div>
				</div>
				<div class="carousel-caption">
				 <b> <h3 class="h3-responsive animated fadeInUp delay-1s">Yaratıcı Yazı Etkinlikleri</h3></b>
				</div>
			  </div>
	
		  {%for hizmet in hizmetler%}
		  {% if hizmet.id == 3 %}
			<div class="carousel-item">
			<!--Mask color-->
			<div class="view">
				<a href="{% url 'hizmet_ozel' hizmet.id %}"> <img class="d-block w-100" src="{% static 'foto/foto_kampus.jpg' %}"
				alt="Third slide">
			  <div class="mask rgba-black-slight"></div>
			</div>
			<div class="carousel-caption">
				<b> <h3 class="h3-responsive animated fadeInUp delay-1s">Aydan Çerçiler ile Gençlere Koçluk</h3></b></a>
			</div>
		  </div>
		  {% endif %}
		  {% endfor %}
		  {%for hizmet in hizmetler%}
		  {% if hizmet.id == 3 %}
		  <div class="carousel-item">
				<!--Mask color-->
				<div class="view">
					<a href="{% url 'hizmet_ozel' hizmet.id %}"> <img class="d-block w-100" src="{% static 'foto/çocuklarla-koçluk.jpg' %}"
					alt="Third slide">
				  <div class="mask rgba-black-slight"></div>
				</div>
				<div class="carousel-caption"></a>
				</div>
			  </div>
			  {% endif %}
		  {% endfor %}
			  {% for etkinlik in etkinlikler%}
		{% if etkinlik.id == 5 %}
			  <div class="carousel-item">
				<!--Mask color-->
				<div class="view">
					<a href="{% url 'etkinlik_ozel' etkinlik.id %}">  <img class="d-block w-100" src="{% static 'foto/yasemin-sungur.jpg' %}"
					alt="Second slide">
				  <div class="mask "></div>
				</div>
				<div class="carousel-caption"></a>
				</div>
			  </div>
			  {% endif %}
		  {% endfor %}
			  {%for etkinlik in etkinlikler%}
			  {% if etkinlik.id == 4 %}
			  <div class="carousel-item">
				<!--Mask color-->
				<div class="view">
					<a href="{% url 'etkinlik_ozel' etkinlik.id %}">  <img class="d-block w-100" src="{% static 'foto/nefes.jpg' %}"
					alt="Second slide">
				  <div class="mask "></div>
				</div>
				<div class="carousel-caption"></a>
				</div>
			  </div>
			  {% endif %}
		  {% endfor %}
			  <div class="carousel-item">
				<!--Mask color-->
				<div class="view">
				<a href="https://www.martidergisi.com/kurban-misiniz-kurtarici-mi/">  <img class="d-block w-100" src="{% static 'foto/kurban-kurtar.png' %}"
					alt="Second slide">
				  <div class="mask "></div>
				</div>
				<div class="carousel-caption"></a>
			</div>
			  </div>
		</div>
		<!--/.Slides-->
		<!--Controls-->
		<a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="sr-only">Next</span>
		</a>
		<!--/.Controls-->
	  </div>
	  <!--/.Carousel Wrapper-->
	</div>
<div class="text-center ">
<h2 id = "duyurular-baslik"><b> Duyurular</b></h2>

<ul class="duyurular-icerik ">
	<li class="duyurular-icerik-icerik">Aydan Çerçiler Bireysel Koçluk ve Seanslar devam ediyor</li>
	<li class="duyurular-icerik-icerik">Elif Şandan Doygun ile Yoga Terapi her Salı devam ediyor</li>
	<li class="duyurular-icerik-icerik">Temel Nefes Teknikleri Atölye Çalışması için bizi arayın</li>
	<li class="duyurular-icerik-icerik">Her iki ayda bir Antar Satya ile Aile Dizilimi Bireysel ve Grup Çalışmaları Yeni Atölye 6, 7 ve 8 Aralık 2019</li>
	<li class="duyurular-icerik-icerik">Yazı Atölyeleri 2020 de</li>
	<li class="duyurular-icerik-icerik">Selda Ataman ile Yin Yoga Atölye başlıyor</li>
	<li class="duyurular-icerik-icerik">Facebook ve Instagram sayfalarından duyurularımızı takip edebilirsiniz.</li>
</ul>
 </div>
</div>

{% endblock %}