{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="background animated slideInLeft" >
<h1 class = "hayat-title animated zoomIn slower delay-1s">Hayata dair </h1><br> <h1 class="hayat-title2 animated zoomIn slower delay-1s">her şey.</h1> 
<!--Carousel Wrapper-->
<div class="my-carousel animated fadeIn slow delay-2s">
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
		<!--Indicators-->
		<ol class="carousel-indicators">
		  <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
		  <li data-target="#carousel-example-2" data-slide-to="1"></li>
		  <li data-target="#carousel-example-2" data-slide-to="2"></li>
		  <li data-target="#carousel-example-2" data-slide-to="3"></li>
		  <li data-target="#carousel-example-2" data-slide-to="4"></li>
		  <li data-target="#carousel-example-2" data-slide-to="5"></li>
		  <li data-target="#carousel-example-2" data-slide-to="6"></li>

		</ol>
		<!--/.Indicators-->
		<!--Slides-->
		<div class="carousel-inner my-carousel-inner" role="listbox">
				
		
		{%for hizmet in hizmetler%}
		{% if hizmet.id == 2 %}
		  <div class="carousel-item active">
			<div class="view">
				<a href="{% url 'hizmet_ozel' hizmet.id %}" style="color: white;"><img class="d-block w-100" src="{% static 'foto/WhatsApp Image 2020-04-26 at 14.34.37.jpeg' %}"
			   alt="First slide" >
			  <div class="mask rgba-black-light"></div>
			</div>
			<div class="carousel-caption">
		</a>
			</div>
		</div>
		{% endif %}
		{% endfor %}
		{%for hizmet in hizmetler%}
		{% if hizmet.id == 1 %}
		  <div class="carousel-item">
			<!--Mask color-->
			<div class="view">
				<a href="{% url 'hizmet_ozel' hizmet.id %}" style="color: white;"><img class="d-block w-100" src="{% static 'foto/websliderimage-03.png' %}"
				alt="Second slide">
			  <div class="mask "></div>
			</div>
			<div class="carousel-caption">
			</a>
			</div>
		  </div>
		  {% endif %}
		{% endfor %}
		{%for hizmet in hizmetler%}
		{% if hizmet.id == 2 %}
		<div class="carousel-item">
			  <!--Mask color-->
			  <div class="view">
				  <img class="d-block w-100" src="{% static 'foto/websliderimage-01.png' %}">
				<div class="mask rgba-black-slight"></div>
			  </div>
			  <div class="carousel-caption">
			   
			  </div>
			</div>
			{% endif %}
	  {% endfor %}		
			<div class="carousel-item">
			<!--Mask color-->
			<div class="view">
				<a href="{% url 'etkinlikler' %}" style="color: white;"> <img class="d-block w-100" src="{% static 'foto/websliderimage-06.png' %}"
				alt="Third slide">
			  <div class="mask rgba-black-slight"></div>
			</div>
			<div class="carousel-caption"></a>
			</div>
		  </div>
	{%for hizmet in hizmetler%}
		{% if hizmet.id == 3 %}
	<div class="carousel-item">
		<!--Mask color-->
		<div class="view">
			<a href="{% url 'hizmet_ozel' hizmet.id %}" style="color: white;"> <img class="d-block w-100" src="{% static 'foto/websliderimage-05.png' %}"
			alt="Third slide">
		  <div class="mask rgba-black-slight"></div>
		</div>
		<div class="carousel-caption"></a>
		</div>
	  </div>
	  {% endif %}
	{% endfor %}
	{%for hizmet in hizmetler%}
		{% if hizmet.id == 3 %}
	<div class="carousel-item">
		<!--Mask color-->
		<div class="view">
			<a href="{% url 'hizmet_ozel' hizmet.id %}" style="color: white;"> <img class="d-block w-100" src="{% static 'foto/websliderimage-04.png' %}"
			alt="Third slide">
		  <div class="mask rgba-black-slight"></div>
		</div>
		<div class="carousel-caption"></a>
		</div>
	  </div>
	  {% endif %}
	{% endfor %}
	<div class="carousel-item">
		<div class="view">
		  <img class="d-block w-100" src="{% static 'foto/WhatsApp Image 2020-04-01 at 11.15.13.jpeg' %}">
		  <div></div>
		</div>
		<div class="carousel-caption">
		</div>
	</div>
		<a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="sr-only">Next</span>
		</a>
		<!--/.Controls-->
	  </div>
	  <!--/.Carousel Wrapper-->
	</div>
<div class="text-center ">
<h2 id = "duyurular-baslik"><b> Duyurular</b></h2>

<ul class="duyurular-icerik ">
	<li class="duyurular-icerik-icerik">Aydan Çerçiler Stres Dengeleme ve Bireysel Seanslar Online devam ediyor. Bilgi için 0530 112 09 79'u arayabilirsiniz.</li>
	<li class="duyurular-icerik-icerik">Etkinliklerimiz Covid-19 nedeniyle ikinci bir duyuruya kadar askıya alınmıştır.</li>
	<li class="duyurular-icerik-icerik">Facebook ve Instagram sayfalarımızdan da bizi takip edebilirsiniz.</li>
</ul>
 </div>
</div>

{% endblock %}