{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="title" id = "title">Kinesiyoloji Nedir?</h1>
<img src="{% static 'fotoğraflar/kinesiologie-1.jpg' %}" style="width: 50%; margin-left: 20%; border-radius: 4%; max-height: 500px" >
<p class="content">
Kinesiyoloji 1960’lı yıllarda Amerikalı bilim adamı Dr. George Goodhart ile birlikte uygulamalı kinesiyoloji başlamıştır ve o günden bugüne bir çok alanda kullanılmaktadır. Kaslarımızdaki  enerji belli yollardan akar ve her yol belli bir organa karşılık gelir. Enerjinin düzgün akması Bedensel sağlığımız için gereklidir. 
<br>
<br>
<br>
Kaslarımızdaki enerji akışı kendi düşünce duygu ve inanç yapımıza göre olumlu veya olumsuz olarak değişebilmektedir. Kaslarımız inançlarımıza çok hassas tepki vermektedirler. Bu tepki aynı zamanda bedenimiz hakkında bize çok değerli mesajlar aktarmaktadır. <br><br>


Kaslardan aldığımız tepki ile bilinçaltımızdaki inançlarla ile ilgili, test yapabilir, ve inançlarımızın bizde yarattığı blokajları tespit edilebiliriz. Böylelikle sorunlarımızın kök nedenlerine ulaşabiliriz. <br><br>


Psiko-Kinesiyoloji ile bilinçli zihnimizde hiç farkında olmadığımız kök sorunları tespit ettikten sonra çeşitli teknikler ile bizi engelleyen inanç yapılarının üzerinde değişikliğe gidebilir, yerlerine bizi destekleyen inanç yapılarını oluşturabilme fırsatını yaratabiliriz.<br><br>


Kinesiyoloji ile inanç yapılarının haricinde bedenimiz için faydalı veya zararlı maddelerin, çevresel faktörlerin, üzerimizdeki olumlu veya olumsuz etkisini tespit  edebiliriz. Kinesiyoloji zihinsel, ruhsal, duygusal ve bedensel blokajlarımızı dengelemek ve düzeltmek için, kullanılan etkili bir yöntemdir. Avrupa ve özellikle Almanya’da Kinesiyoloji yaygın bir şekilde uygulanmaktadır.<br>
<br>

Günümüzde Kinesiyoloji’ nin alternatif yaklaşımlara açık en doğal iyileştirici teknik olarak düşünülmektedir.</p>
<p class="content" style="color: rgb(23, 54, 93); font-style: italic; lin">Terranova Bütünsel Koçluk Merkezi tarafından düzenlenen etkinlikler, workshoplar, seminerler ya da danışmanlık hizmetleri yalnızca bireysel gelişim yolculuğunuzda sizleri bilgilendirmek, potansiyelinizi açığa çıkartmak, kendinize ve çevrenize daha yararlı bir birey olmanıza aracılık etmek; özetle hayatınızın kalitesini artırmak amaçlıdır. Hiçbir etkinlik, workshop, seminer ya da danışmanlık hizmeti bir hastalık tanısı koyma ve tedavi etme amacı taşımaz.</p>
{% endblock %}