{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="title">Parama Çisem ile Yoga, Medtasyon ve Nefes Teknikleri ile Kadim Kadin Çemberi</h1>
<img src="{% static 'fotoğraflar/47396582_2282781585290472_549775519197954048_o.jpg' %}" style="width: 50%; margin-left: 20%; border-radius: 4%; max-height: 500px">
<p class="content">

Geleneksel Yoga’nın temelleri olan yedi çakra ve bes kosha (beden) algısı üzerinde durulan derslerde, farklı bilinç seviyelerine dair idrak ve kontrolün gelişmesi amaçlanır. Böylece yaşam yolculuğunuzdaki farkındalık ve dengenizi artırabilir, gündelik hayatta yüksek verimliliğe ve ruhsal derinliğe ulaşmanın yollarını keşfedebilirsiniz.<br>

🍀Her ders ezoterik Yoga felsefesi ve tekniklerine ilişkin kısa bir teori ile başlayıp farklı Yoga uygulamalarıyla devam eder ve meditasyon bölümü ile sonlanır. 
Başlangıçtaki teori bölümünün amacı, uygulamaya geçmeden önce Yoga’da neyin neden yapıldığına dair zihnin aydınlatılmasıdır çünkü Yoga’da deneyim kalitesini en çok etkileyen şey kendi zihnimizdir.<br> 
🍀Uygulamalarda farklı Yoga aşanaları (pozları) ve pranayama (enerji kontrolü) kullanılarak beden-zihin koordinasyonu güçlendirilir, vücuttaki enerji akışı ve merkezler dengelenerek fiziksel, duygusal ve ruhsal arınma ve şifalanma sağlanır.<br> 
🍀Son bölümdeki meditasyon pratiği ise zihinsel disiplin ve dinginliğin kalıcı hale gelmesine imkan sağlar. Müzik meditasyonu, Mantra meditasyonu, Tibet Şefkat meditasyonu ve Prana Uchara meditasyonu gibi farklı teknikler kullanılacaktır. 
<br>
🍀Kapsamlı teori ve uygulama içeren dersler, hem başlangıç seviyesindekilere hem de bilgi ve deneyimlerini zenginleştirmek isteyen ileri seviyedeki Yogilere uygun niteliktedir. <br>

🍀Dersler için lütfen yanınızda defter, kalem ve rahat kıyafetler getirin. 
<br>
<br>
🌺🌺İçindeki Kadim Kadın, berrak ruhsal bilgiyle uyanıyor. <br>

🌺Parama Çisem rehberliğindeki kadınlara özel bu ruhsal yolculuk seni kadınlığının derin potansiyeline ulaştıracak. Kadim ezoterik öğretiler ışığında kadınlığının sınırsızlığını keşfederken güzelliğinin de sırrına varacaksın.<br> 
🌺Fiziksel ve sübtil bedenlerindeki arınmanın getireceği bilgelikle dişil enerjiyi maharet ve keyifle kullanmayı deneyimleyecek, tabiat ile maneviyati bir araya getirebilmenin ahengini hissedeceksin. 
<br>
🌺Bu yolculuktaki başlıca duraklarımız şunlar: <br><br>

-	Kadim Doğu felsefesinde Eril ve Dişil (Şiva – Şakti arketipleri) <br>
-	Kadim Doğu felsefesinde dişilik anlayışı <br>
-	Çakra’lar özelinde yoga pozları, nefes ve müzik meditasyonu <br>
-	Kosha’lar özelinde pozlar ve egzersizler <br>
-	Kadim Kadın Dansı (Çakra özelinde Mudra’lar ve yaratıcı ifade) <br>
-	Kadim Kadın Çemberi (Kadınlar arası uyum ve derin paylaşımlar) <br><br>

🦋<b>Parama Çisem Kartal </b><br>
Parama Çisem, 1979’da Ankara’da doğdu. TED Ankara Koleji’nden mezun olduktan sonra Yıldız Teknik Üniversitesi Şehir ve Bölge Planlama bölümünde okudu. İstanbul'da on yılı aşkın süren iletişim ve yayıncılık ağırlıklı yoğun iş hayatı deneyiminin ardından kendini ruhsal yolculuğuna daha çok odaklamaya karar verdi. 
2000’lerde Türkiye'de başlamış olduğu Yoga yolculuğuna 2010’dan itibaren Tayland Agama Yoga'da devam etmeyi seçti. Son sekiz yıldır bu okulda Yoga ve Tantra dersleri vermeye, başlangıç seviyesinden eğitmenlik eğitimlerine (TTC) uzanan farklı düzeylerde koordinatörlük yapmaya ve Complete Femininity (Bütütnsel Dişilik) inzivalarını yönetmeye devam ediyor. <br>
2012’den itibaren Yoga’nın anavatanı olan Hindistan’a yaptığı kendini keşif yolculuklarında Dr. Ram Garg ile Ayurveda konusunda çalışmalar yaparak bilgisini artırdı. Guruji Rajkumar Baswar ve Sri Prem Baba gibi önemli Yoga ve Tantra üstadlarından aldığı eğitimlerle Yoga ve meditasyon deneyimlerini derinleştirdi. 
Tayland ve Türkiye’de Tantrik Yoga eğitimleri ve ruhsal çalışma grupları geliştirmek ve yönetmek Parama için hayatın vazgeçilmez bir parçası haline gelmiş, kişilerin ruhsal farkındalık ve gelişim yolunda ilerlemesine şahit ve destek olmak ise bu vazgeçilmezin en güzel yanı olmuştur. <br>
Parama Çisem, yolculuğuna hem Tayland hem de kendi topraklarında Yoga öğretisini paylaşarak devam etmekten büyük keyif alıyor. Son yıllarda Avrupa da dahil olmak üzere pek çok farklı ülkede farklı konularda (Yoga felsefesi, farklı Yoga türleri, Tantra, Dişilik…) eğitimler sunmayı sürdürüyor. <br><br>

2 aylık haftada iki kere süreklilik önerilen bir çalışmadır. Pazartesi ve Perşembe günleri saat 10.00 ile 12.00 arasında gerçekleşecek. 24.12.2018 başlangıç tarihi😊<br><br>
<b>Kayıt ve Bilgi için 0530 1120979😊<br></b></p>
{% endblock %}