{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class = "title" id = "title"> SCIO Quantum Biofeedback Sistemi <br> (Scientific Consciousness İnterface Operation System)  </h1>
<img src="{% static 'fotoğraflar/8652ef65-690b-4043-84b8-d923c14ac9a4.jpg' %}" style="width: 50%; margin-left: 20%; border-radius: 4%; max-height: 500px">
<p class = "content">
Vücudumuzun Enerji akışı fiziksel, duygusal ruhsal ve  çevresel faktörler nedeni ile sekteye uğrayabiliyor ve yaşam enerji akışımız olumsuz etkileniyor. Bedenimiz bu aksaklıkları gidermek  için uğraşırken, asıl kaynağı fark etmeyip sık sık  daha fazla blokajlar yaratıp, kendimizi nedensiz bir yorgunluğun ve duygusal olumsuzluğun içinde bulmamız mümkün. <br>
SCİO Quantum Biofeedback Sistemi, doğrudan sorunun kaynağını bulmamıza yardım eder, kişide hem farkındalık  geliştirmemize yardımcı olur, hem blokajları aşmak  için gerekli frekans dengeleme çalışmalarını yaparak enerji akışımızın mükemmeline ulaşmasına olanak sağlar.<br>
Enerji  akışımızın dengelenmesi bize birçok konuda yardımcı olur.<br>
Başta; <br>
1. Stres faktörün azalmasından dolayı, sürekli tetikte  olmak  yerine harekete geçmemizi ve motivasyonumuzun artmasına katkı sağlar.<br>
2. Duygu durumumuzu uzun süredir stres yaratan ve akut gelişen duygularımız hakkında bilgi verir ve duyguların yarattığı enerji blokajlarını dengeleyerek kendimizi iyi hissetmemize büyük katkı  sağlar. Ayrıca Koçluk çalışması ile duygularımızı daha iyi anlamamız ve baş etmemize destek verilir.<br>
3. SCİO Frekans çalışması rahatlatır, daha sağlıklı  düşünmemizi destekler.<br>
4. Dikkat Eksikliği, Hiperaktivite Bozukluğu ( ADHD ) gibi öğrenmeyi güçleştiren durumların aşılmasında yardımcı olur. <br>
5. Artan odaklanma, mantık yürütme, problem çözme, hayattan daha fazla keyif alma, işlerin daha kolay yürütülmesi, daha fazla kapasite ve fiziksel yetenek, artan farkındalık ve ruhsal gelişme sağlar.<br>
6. Sayısal ve Sözel Öğrenme ve okuma kapasitemizi geliştirir.<br>
7. Stres den bloke olmuş hafıza kapasitemizi arttırmamıza yardımcı olur.<br>
8. Öfke’nin yarattığı tepkisel tutumlarımızın azalmasını destekler.<br>
9. Uyku düzenin dengelenmesine yardımcı olur.<br>
10. Her şeyin başı moral diye yola çıkarsak birçok hastalığın yarattığı duygusal stresi dengeleyerek iyileşme sürecini ÖNEMLİ ÖLÇÜDE destekler.
11. Stresin yarattığı korku ve kaygıyı azaltır.<br>
12. Stres ve gerginlik bağışıklık sistemimizi, sinir sistemimizi ve sonuç olarak  sağlığımızı olumsuz yönde etkileyebilir. Rahatlama ve Stres faktörlerinin tespiti ve dengelenmesi ile sağlığımıza büyük bir katkı sağlamış oluyoruz.<br>
13. Bedenimizde yaşamımızın tüm süreçleri titreşimsel olarak kayıtlı. Zihnimiz birtakım bilgileri unutsa bile bilinçaltımız her şeyi kayıt eder. Bu nedenle bizi olumsuz olarak etkileyen duygusal anlamda yaşadığımız olaylar travma niteliğinde bizde saklı ve potansiyelimizi olumsuz yönde ‘biz farkında olmadan’ etkilemektedir. Scio duygusal olumsuzlukları yaşadığımız dönemleri verir ve buna bağlı gerekli dengeleme çalışmaları yaparak rahatlama sağlar. Blokajların aşılması ile birlikte harekete geçme isteğimiz ve yaşama bakış açımız değişebilir.<br>
Meridyenlerin sağlıklı enerji akışının dengelenmesi,  Chakra ve Aura temizlenmesi ve dengelenmesi. Hangi duyguların elektro mangnetik alanımızı kısıtladığının tespit edilmesi Scio Qantum Biofeedback Sisteminin çalıştığı  alanlardan bazılarıdır.<br><br>

Dengelemenin yanı sıra amaç; kişide farkındalık  geliştirerek yaşamında kendisini rahatlatacak  bir takım değişiklikleri harekete geçirmek ve bütünsel bir yaklaşımla kişinin enerji alanını  rahatlatmaktır.<br><br>

Bizim Farkımız nedir:  SCIO cihazı ile birlikte danışanlarımızla koçluk görüşmelerini harmanlayarak kişinin ihtiyacı doğrultusunda frekans çalışmasını destekliyoruz. Farkındalığın yanı sıra farkındalığın davranışsal değişimi  desteklemek için çalışmalar yapıyoruz.  Ayrıca Nefes ve Kinesiyoloji tekniklerini kullanarak kişinin günlük yaşamda stresle başa çıkma tekniklerini geliştirmesine yardımcı oluyoruz.  <br><br>

Kısacası;<br>
Vücudun, doğru koşullar altında kendi kendini iyileştirme yeteneği olduğunu biliyoruz. SCIO stres azaltma ve gevşetme yoluyla sağlıklı olmanın önündeki engelleri kaldırmada rol oynar; bunu da, vücuttaki titreşiminde mevcut olan özel stres alanlarını algılayarak yapar.<br>
Kaç Seans alınması gerekir sorusuyla sık sık karşılaşırız.<br>
Bu tamamen danışanın durumuna, yaşam tarzına ve frekansları ne ölçüde aldığına bağlıdır. Genellikle tedavinin etkisinin görülmesi için en az dört seans devam edilmesini tavsiye ediyoruz.<br>
SCIO nasıl fark yaratır?<br>
Vücut bütünlüğüne zarar vermeyen bir cihaz olan SCIO Quantum Biofeedback Sistemi enerji dengesizlikleri hakkında bilgi verir ve ihtiyaç olan dengeleme ve uyumlama çalışmalarını yapar.<br>
Daha detaylı bilgi için bizimle irtibata geçin
<br><br>
</p>
<p class="content" style="color: rgb(23, 54, 93); font-style: italic;">Terranova Bütünsel Koçluk Merkezi tarafından düzenlenen etkinlikler, workshoplar, seminerler ya da danışmanlık hizmetleri yalnızca bireysel gelişim yolculuğunuzda sizleri bilgilendirmek, potansiyelinizi açığa çıkartmak, kendinize ve çevrenize daha yararlı bir birey olmanıza aracılık etmek; özetle hayatınızın kalitesini artırmak amaçlıdır. Hiçbir etkinlik, workshop, seminer ya da danışmanlık hizmeti bir hastalık tanısı koyma ve tedavi etme amacı taşımaz.</p>

{% endblock %}