{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="title" id = "title"> Stres ve Moral</h1>
<img src="{% static 'fotoğraflar/stone-pile-1307644_1280.jpg' %}" style="margin-left: 15%; width: 50%; ">
<p class="content">Herşeyin başı moral. Moralimiz yüksek olduğunda birçok şeyle daha kolay baş edebiliriz. Üstesinden gelemiyeceğimizi düşündüğümüz konulara, cesaret ve inanç geliştirmemizi moralimiz sağlar. Moral sayesinde daha kolay adım atarız. İlişkilerimizde, işimizda, okulda, sınavlarda, sporda her yerde moral birinci sırada yer alır.<br>
Hastalıkların iyileşme süreçlerini tetiklemek için de en çok morale ihtiyaç vardır. <br>
Stres hayatımızın her köşesinde var. Bizi tetikleyen yapıcı stres moralimizin yüksek olmasıyla güçlenir. Morelimiz düşükse stres yıkıcı olabilir ve bizi baskı altında tutabilir. Moralimizi yüksek tutmak, her zaman o kadar kolay değil. İhtiyacımız olduğunda moralimizi yükseltmek birçok yöntemle mümkün. Scio Stres Dengeleme çalışmaları ile harika sonuçlar alıyoruz. Hem konuşuyor hem dengeleme çalışmaları yapıyoruz. Farklı teknikleri kazanmanız ve ihtiyacınız olduğunda uygulamanız için sizi ayrıca destekliyoruz. Bilgi için Terranova Bütünsel Koçluk Merkezi 🍀0530 1120979 Görüşme için randevu almanız gerekir😊<br>
<b><a href="scio.html" style="text-decoration: none; color: black;"> SCIO için detaylı bilgi için tıklayınız....</a></b></p>
{% endblock %}