{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="title" style="margin-left: 5%"> Kişiliğimizi Tanıyalım</h1>
<img src="{% static 'fotoğraflar/Screenshot_20180917-144844.jpg' %}" style="width: 30%; margin-left: 5%; margin-right: 0%">
<p class="content" style="float: right; width: 60%; margin-left: 0%;"> Niçin bazı insanlarla ilk tanıştığımız saniyeden itibaren kanımız uyuşurken, kimilerinden hiç etkilenmeyiz?<br>
Niçin bazı insanlar sakinlik ve kendi içlerinden enerji alırken, kimileri dışarıdan ve sosyal ortamlardan beslenirler?<br>

Niçin bazılarımız sezgilerini dinlerken, bazılarımız mantık  ve verilerle hareket ederler?<br>
Dünyaya birtakım özelliklerimizle birlikte geliriz. Bu özelliklerimiz çocukluk yıllarında dış etkenlere bağlı olarak edindiğimiz deneyimlerimizle biçimlenir. Yaşama dair bakış açımız, düşüncelerimiz ve davranışlarımız bu özelliklerimize bağlı olarak gelişir. Zannederiz ki çevremizde yüzlerce tip insan vardır. 
Aslında sandığımızdan çok daha az çeşitlilik gösterecek tiplemeler sıralanabilmektedir. <br>
Burada 4 temel boyutun üzerinde durulmaktadır. <br>
<b>1.</b> Enerjimizi ve Motivasyonumuzu sağlayan boyutumuz<br>
<b>2.</b> Olayları  nasıl  algıladığımızı anlatan boyutumuz<br>
<b>3.</b> Olaylar  karşısında hangi özelliğimizden faydalanarak karar verdiğimiz<br>
<b>4.</b> Olaylar karşısında nasıl bir tutum gösterdiğimizi ifade eden boyutumuz.<br>
Araştırmalar gösteriyor ki, her birey bağımsız birer kişilik olmasına rağmen aynı  tipte olan çok  sayıda insan vardır. Yukarıda bahsettiğimiz boyutlardan yola çıkarak 16 temel tiplemeden bahsetmek mümkündür. Bu 16 temel  tipleme de 4 ana karakterde  toplanmaktadır.<br>
Kendimize ait olan bu boyutları anladığımızda güçlü yönlerimizi keşfeder ve geliştirmemizin katkı sağlayabileceği yönlerimizi kolaylıkla fark ederek üzerinde çalışmaya başlayabiliriz.<br>
</p>
<p class="content" style="margin-left: 5%">
Envanter çalışmalarını en çok uyguladığımız kesim öğrenciler ve mezunlardır. Okulların Rehberlik birimlerinin uyguladığı çalışmaların dışında, kişinin karakter ve kişilik özelliklerini tanıması başta kendisi olmak üzere sosyal  yaşamda, meslek  yaşamda, ilişkilerde, duygu-düşünce- davranış tutarlılığına oldukça kolaylık  sağlamaktadır. <br>
Kendini geliştirmenin temeli kendini tanımakla başlar…</p>
{% endblock %}