{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="title"> YASEMİN SUNGUR İLE YAZI(I) KAMPI </h1>
<img src="{% static 'fotoğraflar/6c1fccd9-f5c8-47ab-a5cc-09c524f57361.jpg' %}" style="width: 50%; margin-left: 20%; border-radius: 4%; max-height: 500px">
<p class="content">
⭐Yasemin Sungur’la 
Yaz(ı) Kampı 
Antalya’da Terranova Koçluk Merkezinde gerçekleşecektir. <br><br>

⭐Antalya iletişim 0530 112 09 79 ⭐<br>
Özel etkinlikleri, konukları olan bir kamp çalışmasıdır. ⭐<br>
Kayıt ve bilgi almak için arayın, mail yazın lütfen. <br>
📚Kitap listesi ve program detayları kesin kayıttan sonra gönderilecektir. <br>
#YazıKampıAntalya etiketini konuya yazın lütfen 👍<br>
⭐<br>
Mail: Ben@yaseminsungur.com <br>
Whatsapp iletişimi için mesaj yazın lütfen ⭐<br>
⭐<br>
Francis Bacon'un "Okumak, bir insanı doldurur; konuşmak onu hazırlar, yazmak ise olgunlaştırır…” sözünden etkilenirim. Çok sevdiğim Tanrılar Okulu kitabında Dreamer’ın dediği gibi “Yaz! Yazmak, varlığının etrafa saçılmış parçalarını bir araya getirebileceğin tek yoldur.” <br>
🕊Okuduğumuz kitapları, nasıl iyi okur oluruz konusunu konuşacağız, kendimizi gözleyeceğiz, keşfedeceğiz ve hayatın içinde yazacağız. <br>
🕊Bu kampta ana meselemiz yazmak. <br>
🕊Neden yazıyoruz, nasıl yazıyoruz? <br>
🕊Bireysel olarak yazma amaçlarımıza odaklanacağımız bir çalışma olacak. <br>
🕊Konuk yazarlar ve eğitmenler ile öğrenerek, keşfederek yazacağız. <br>
“Yazmak zor bir iş değil, kabustur.” demiş yazar Philip Roth. Sonra kelimelerine şöyle devam etmiş; “Çoğu mesleğin bir başlangıcı, ortası ve sonu vardır. Ama yazmak her zaman yeniden başlar.” 📚<br>
📚✍📚<br>
📚 <br>
Sevgiyle <br>
<br>
<b> Detaylı bilgi için <a href="https://www.martidergisi.com/author/yasemin/" target=new> burayı</a> tıklayın.
</p>
{% endblock %}