{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="title" id="title">Elif Şandan Doygun ile Yoga Terapisi</h1>
<img src="{% static 'fotoğraflar/42438151_2242599092642055_5546286484178337792_n.jpg' %}" style="width: 50%; margin-left: 20%; border-radius: 4%; max-height: 500px">
<p class="content">
<b>Yoga Terapi (Viniyoga) Çalışmalarımız Başlıyor! <br></b>
<br>

Günümüzde pek çok kişi sırt, boyun, bel, omuz ve kalça ağrılarından sıkıntı yaşıyor. Bazı kişilerde bu ağrılar bedenin yanlış duruşundan ya da bedeni zorlamaktan kaynaklanırken; bazı kişilerde de fiziksel, ruhsal travmalardan, günlük hayatın yoğun stresinden kaynaklanabiliyor. Ve bu ağrılar zamanla kronikleşebiliyor ya da daha ciddi rahatsızlıklara dönüşebiliyor. <br><br>

Viniyoga, Sanskrit dilinde “farklılaştırmak”, “adapte etmek” anlamlarına geliyor. Yoga terapi (Viniyoga)çalışması, bedende rahatsız olan bölgeyi bu doğrultuda adapte edilmiş yoga pozlarıyla güçlendiren ve esneten, ağrılı bölgeleri rahatlatan, aynı zamanda nefes tekniklerini de bu rahatlama ve esnemeyi derinleştirmek adına kullanan sistematik bir yoga türüdür. Yoga terapi, yoga pozları, nefes teknikleri ve meditasyon çalışmasıyla, bedende ağrı yaşanan bölgeyi rahatlattığı gibi, psikolojik ve ruhsal rahatsızlıklarda da etkili olan, genel sağlığa olumlu yansıyan çalışmadır. <br><br>

Yoga ve Nefes Teknikleri Eğitmeni Elif Şandan Doygun ile gerçekleşecek Yoga Terapi çalışmalarımıza katılarak, fiziksel – zihinsel – sosyal ve ruhsal açılardan daha sağlıklı ve iyi hissetmenizi destekleyecek bu yöntemle tanışabilir ve bu derslerde öğreneceğiniz nefes tekniklerini ve yoga pozlarını zaman içerisinde günlük hayatınıza taşıyabilirsiniz. <br><br>

<b>Yoga Terapinin Çalışmalarının Faydaları</b> <br><br>

Bedende sıkıntı yaşanan bölgedeki ağrıyı azaltır. <br><br>

Kan akımını artırır. <br><br>

Postural uyumu iyileştirir. <br><br>

Dokunun ya da eklemin fonksiyonunu artırır. <br><br>

Zayıf kasları güçlendirir. <br><br>

Kronik kasılmaları gevşetir. <br><br>

Sağlıklı hareket modeli geliştirir. <br><br>

Genel beden ve ruhsal sağlığa olumlu yansır; sıhhati arttırır. <br><br>

Yoga Terapi derslerine Kimler katılabilir? <br><br>

Boyun düzleşmesi ve fıtığı bulunanlar <br><br>

Skolyoz ya da başka sebeplerle bel ve sırt ağrıları yaşayanlar, <br><br>

Bel düzleşmesi bulunanlar, <br><br>

Fibromiyalji ve miyofasiyal ağrı sendromu bulunanlar, <br><br>

Romatoid artrit rahatsızlığı yaşayanlar, <br><br>

Kalça ve omuz hareketliliğinde rahatsızlık yaşayanlar, <br><br>

Daha önce başka bir disiplinde sakatlık geçirenler, <br><br>

Rahatsızlıkları sebebiyle uygulanan fizyoterapi sürecine destek arayanlar, <br><br>

Fiziksel kondisyonlarının iyi olmaması sebebiyle yoga derslerine girmeye tereddüt edenler.<br><br> 

<b>Önemli Bilgi: </b><br><br>

Yoga terapi çalışması, sinir ve kas siteminin sağlıklı çalışması için destekler ve yeniden yapılandırır. Ancak bu dersler tek başına ağrı, hastalık ya da kronik sorunların tedavisini sağlamaz, bunun için mutlaka doktora başvurmanız gerekmektedir. Yoga terapi tedavi süreçlerine destek sağlar. Ciddi sağlık problemleri yaşayan katılımcıların dersin eğitmeni ile detaylı görüşmesi ve doktorlarından mutlaka onay alması gerekmektedir. <br><br>

<b>Çalışma Programı </b><br><br>

Yoga Terapi Çalışmalarımız her Salı 10.00 – 11.00 saatleri arasında gerçekleşecektir. <br><br>

<br><br>

Yoga Terapi özel bir çalışmadır ve katılımcı sayısı 6 kişi ile sınırlıdır.<br>
Kesin kayıt yaptırmak ve hemen yerinizi ayırtmak için bizi arayabilirsiniz; <br><br>

Terranova Koçluk Merkezi 0242 3160747 / 0530 1120979 <br></p>
{% endblock %}