{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="title" id = "title">Çocuklarda Dışlanma ve Zorbalık </h1>
<img src="{% static 'fotoğraflar/Screenshot_20180917-150729.png' %}" style="margin-left: 15%; width: 50%; ">
<p class="content">
Bir çocuğa tavır alıp, baskı ve incitici  sözlerle gruptan ayrı tutmak, çoğumuzun duyduğu veya karşılaştığı veya yakınında gözlemlediği durumdur.
Bu durum akran zorbalığı olarak da nitelendirilmektedir.<br>

Zorbalık  ile çatışmayı birbirinden ayırt etmek çok önemli. Fikir ayrılıkları çocukları  ve gençleri geliştiren ve doğal olan bir süreçtir. Kişisel sınırlarını ihlal edip duygusal incinme ve dışlanma söz konusu ise zorbalıktan bahsedebiliriz.<br></p>


<ul class="content">
<b>  Sosyal ve Bireysel Zorbalıklardan bazı örnekler;</b>
<li>Dışlayıcı davranışlara maruz kalmak</li>
<li>Alay konusu olmak</li>
<li>Sözel ve duygusal incinmelere maruz kalmak</li>
<li>Uygunsuz sıfatlanmalara  maruz kalmak / İsim takmak</li>
<li>Söylentilere maruz kalmak</li>
<li>Fiziksel davranışlara maruz kalmak</li>
<li>Suçlayıcı tavırlar ile karşı  karşıya kalmak</li>
<li>Toplum içinde küçük düşürmek</li>
</ul>
<ul class="content">
<b>Fiziksel Zorbalık</b>
<li>Tekmeleme</li>
<li>Kıstırma, vurma</li>
<li>Tükürme</li>
<li>İtme </li>
<li>Bilinçli  izinsiz eşyalarını alma ve kırma</li>
<li>Kaba el hareketlerinde bulunma</li>
</ul>
<p class="content">
Akran zorbalığın en yoğun yaşandığı ortamları hepimiz tahmin edebiliyoruz. Okulda, oyun parkında, okul servislerinde. Genellikle yetişkinlerin yanında zorbalık gerçekleşmez.<br>
Zorbalığın başlıca amacı İlgi çekmek ve üstünlük sağlamaktır. <br></p>
<ul class="content">
<li>Çocuklar Media kanallarında sürekli zorbalığa şahit olurlar.</li>
<li>Zorbalık yapan çocukları taklit ederler.</li>
<li>Aile  içi dinamikler de büyük rol oynar.</li>
</ul>
<p class="content">
Günümüzde gittikçe  artan maruz çocuk sayısı artıyor. Bu durumda mutlaka okulların rehberlik hizmetleri bilinçlendirilmeli ve düzenli çocukların Özfarkındalık   ve Özgüvenleri  ile ilgili çalışmaları derinleştirmeli.<br>
Benim en çok  dikkatimi çeken çocuklar arkadaşlarının olumlu yönlerinden çok, zafiyetlerine odaklanıyor ve kıyamet oradan kopuyor. Küçük yaşta çocukların empati duyguları  köreliyor, sevgi  yerine farklı duyguları güçlendiriyorlar.<br>
Bu nedenle de kendileri de toplum içinde kendilerini var etmek için kıyasıya bir mücadeleye giriyorlar. Kendilerini kanıtlamak  en büyük amaçları oluyor.
Zorbalığı yapan çocuğun açısından baktığımızda da hayat kolay değil.<br></p>
<ul class="content">
<li>Çocuğunuz zorbalık yapıyorsa ne yapmalı? </li>
<li>Aynı seviyeden iletişim kurun</li>
<li>Davranışının nedenini araştırın</li>
<li>İyi bir dinleyici olun ve utandırmayın</li>
<li>Sık sık  oluyorsa arkasındaki ana nedeni bulup kendisi ile  çözüm odaklı sıkı bir iletişim içerisinde olun.</li>
</ul>
<p class="content">
Çocukların anlayışa ihtiyacı vardır.  Çoğu çocuk  davranışının yarattığı etkinin bile farkında değildir. Bu nedenle mutlaka karşı tarafın duygularını anlaması  için ortam yaratın. Ebeveynlerin dikkatli yaklaşımları ve tutumları önemlidir.
Davranışın arkadaşının canını acıttı mı?
Başkasının sana böyle davranmasını  ister miydin?
Çocuğunuzun davranışının sorumluluğunu almasına yardımcı olun.
Yanlış davranışlarını birlikte not alın ve takibe alın.
Yanlış davranışına onu iten durumları konuşarak nasıl farklı davranış şekilleri geliştirebilir konusunda çalışmalar yapın.
Olumsuz bir sonucun çocuğunuza öğretici bir deneyime dönüşmesi için olumlu sonuçlar elde etmesi için ona yardımcı olun. <br>
<b>Okul ile işbirliğine girerken ailelerin dikkat etmesi gereken noktalar  </b></p>
<ul class="content">
<li>Kötü ebeveyn olarak yargılanacağınızı düşünmeyin.</li>
<li>Çocuk büyütmek kolay değildir ve destek olmak yanlış ve ayıp  değil.</li>
<li>Çocuğunuzun tepkisellikten çok ömür boyu faydasını göreceği yapıcı davranış kalıplarını öğrenmesine destek  olun.</li>
<li>Tüm öğretmenler ile iletişim halinde olun çocuğunuzun başkaları tarafından etiketlenmesine izin vermeyin.</li>
<li>Hatırlayın çocuğunuzun zarar görmeden durumu yönetmek ve yapıcı çözüm üretmek ancak  sizin yapıcı desteğinizle mümkün.</li>
<li>Herkesin kendine ait özelliklerinin olduğunu hiç  kimsenin hiç  kimseye benzemediğini biricik ve tek  olduğunu anlatmak çocuklarda hem kendilerine hem başkalarına yönelik anlayış geliştirmelerine katkı  sağlar. </li>
</ul>
<p class="content">
<b> Sosyal ve duygusal  öğrenme ancak özfakındalık esneklik ve davranışların sorumluluğunu alarak  mümkün. Pozitif ilişkiler kurmak özellikle ilkokul çağlarında önemlidir ve yaşamı boyunca sosyal ilişkileri etkiler.</b></p>
{% endblock %}