{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="title"> ÖZEL ÇOCUKLAR İÇİN YOGA </h1>
<img src="{% static 'fotoğraflar/9d27386f-f695-49d8-8864-e9b898be9e8a.jpg' %}" style="width: 50%; margin-left: 20%; border-radius: 4%; max-height: 500px">
<p class="content"> 
	Özel çocuklar için yoga dünya çapında özel ihtiyaçları olan sayısız çocuğun hayatını değiştirmiş olan tedavi edici, eşsiz bir yoga metodudur. 
	Bu metot son derece nazik ancak sonuçları çok etkili, şifa verici güçlü bir uygulamadır. Duygusal ve davranışsal bozukluğu, Down Sendromu,  Celebral Palsy (CP), Mikrosefali, Otizm spektrum bozukluğu sahibi çocuklar için emniyetli ve güvenilirdir. Bebekler de bile çocuklarla aynı oranda güvenli ve etkilidir. Bununla birlikte bu metot dikkat bozukluğu (ADD), dikkat eksikliği ve hiperaktivite bozukluğu (ADHD), öğrenme zorluğu ve gelişim bozuklukları için etkili bir tedavi yöntemi olarak kabul görmüştür. <br></p>

<p class="content"><b>Metot </b> <br>
<ul class="content">
<li >Beden farkındalığını ve gücünü artırmak amacıyla bir araya getirilmiş dengeli yoga pozları, </li>

<li >Odaklanma ve konsantrasyonu artırıcı özel nefes ve göz egzersizleri ile rahatlama teknikleri,</li>

<li >Konuşmayı geliştiren ses çalışmaları, </li>

<li >Akciğerleri güçlendirerek bedenin tamamının derinlemesine oksijen almasını sağlayan nefes teknikleri, </li>

<li>Bebekler ve 1-3 yaş arası çocukların, sağlıklı gelişim sürecinin biçimlendirebilmesini sağlamak için olağanüstü etkili bir erken müdahale programıdır. </li>
</ul></p>
<p class="content">
<b>Faydaları </b><br>

Düzenli yoga pratiği yapan özel çocuklar için bu metodun faydaları sayısızdır: <br>

<ul class="content">
<li >Motor ve kas fonksiyonları ile öz düzenleme becerisinde gelişme, </li>

<li >Rahatlamış bir sinir sisteminin neticesi olarak daha düşük endişe ve kaygı, </li>

<li >Odaklanma, koordinasyon ve iletişim kurma becerilerinde dikkate değer düzelme, </li>

<li >Daha güçlü bir kan dolaşımı ile beyne daha fazla oksijen ulaşması sayesinde kendisini ve çevresini daha iyi ve güçlü idrak edebilme, </li>

<li>Bedensel farkındalığın gelişerek artması, </li>

<li>Gelişen nefes alma kabiliyeti sayesinde, günlük etkinliklerde beden fonksiyonlarının da gelişmesi, </li>

<li>Çok daha iyi bir uyku kalitesi, </li>

<li>Davranışsal ve duygusal dengenin gelişmesi ile bir aktiviteden diğerine geçiş yapabilme yeteneğinde gelişme, </li>

<li>Organların fonksiyonlarını daha iyi ve daha güçlü yerine getirmesinde önemli ilerleme sağlanmaktadır. </li>
</ul></p>
<p class="content">
Bu metodunun, birçok çocuğun fiziksel ve zihinsel gelişimini desteklediğini, onların sağlıklı büyüme sürecine yardımcı olduğunu, çocuğun duygusal ve ruhsal açıdan iyi ve dengede kalmasını sağladığını, zihinlerini ve sinir sistemini sakinleştirdiğini ve bedenlerini güçlendiğini gördüm. Sakın ve geniş bir ortamın yaratılmasının, duyusal zafiyetleri olan çocukların aşırı yüklenmesini engellediğine tanık oldum. Yoga terapisi, dil becerilerine ya da bilişsel yetkinliklere bağlı bir olay değildir. Seansların süresi, oturuş tercihleri ve diğerleri ile etkileşim bireye özgü olduğu için seans sürelerini çocuğun ihtiyaçlarına göre ayarlamaktayım. Yoga terapisini bir rutin ve standart yapının dışında yenilik ve oyunlar sunarak uygulamaktayım. Terapi sonunda çocukların, aileleriyle birlikte yaşadığı mutluluk ve coşku bu işi yaparken aldığım en değerli hediyedir. <br><br></p>

<p class="content"> <b>ZEYNEP GÜRLEYEN KİMDİR?</b><br><br> 

             Çocuk Gelişimi mezunuyum . On yıldır aktif olarak yoga yapmaktayım.2014 yılında Pınar ENGINSU ‘dan Prenatal Yoga Eğitmenliği egıtımı,2015 yılında Zeynep AKSOY ve David CORNWELL’den 200 saatlik yoga hocalık eğitimi aldım. 2015’de Zeynep AKSOY ‘dan yİn yoga eğitimi, 2016 yılında Aylin TOKCAN’dan çocuk yogası eğitmenlik eğitimini tamamladım.   <br>

            Bu dönemde kreşlerde çocuklarla çalışmaya başladım. Kreşte çalışırken otizm spektrum bozukluğuna sahip özel bir çocukla karşılaştım, onu gruba dahil edip gelişmeleri gün ve gün kaydedince yoganın bu alandaki çocuklara olan faydasını anlayıp, bu alanda uzmanlaşmaya karar verdim. <br>

         2016-2017 yılları arasında Londra’da Yoga For Special Child programını tamamladım. Hocam ‘dan Otızm, Down Sendromu, CP, ADD, ADHD alanında eğitim aldım. Bu programda temel yoga teknikleri, anatomi, nefes teknikleri, psikoloji eğitiminin yanında, yukarıda saydığım özelliklere sahip çocuklarla  detay eğitimlerinde çalıştım.  <br>
<ul class="content">
<li >
 *Otizmde Eğitim Uygulamaları ve Davranışsal Destek ve Duyu Bütünleme Çalışmaları Eğitimi -Ebru CANTÜRK 
 </li>
<li >
*Engellilerde Cinsel Gelişim, Cinsiyet Eğitimi ve Tacizden Korunma Semineri-Yrd Doc Dr Ayten DÜZKANTAR </li>
<li >
*0-4 Yaş Sağlıklı ve Problemli Dil Gelişim Eğitimi </li>
<li >
*İstanbul İşletme ENS. İşaret Dili Eğitimi </li>
<li >
*6.Ulusal Özel Eğitim Kongresi 2016 </li>
<li>
*Montessori Uygulamaları ve Temel Montessori Eğitimi </li>
<li >
*Çocuk Merkezli Yaklaşımlar ve İyi Uygulamalar Eğitimi </li>
<li >
*Okul Öncesi Eğitim Ve Uygulamalar </li>
<li>
*Ayurveda Marma Terapi kursu  </li>
<li>
*Recall Healing Children’s Learning Problems Behaviours and İllnesses-Çocuk Hastalıkları ve Psıkolojık Nedenlerı Eğitimi  </li>
<li>
Dr. Gilbert RENAULD </li>
<li >
*Feldenkraıs Eğitimi-Helin ŞAHIN </li>
<li>
*Hormon Yoga Hocalık Eğitimi –Seda Shambhavi KERVANOGLU </li>
<li>
*Turkıye Herkes İçin Spor Federasyonu Yardımcı Yoga Antrenörlüğü Eğitimi </li>
<li >
*Otizmde erken müdahale Nöroplay yöntemi uygulayıcı eğitimi—Doc.Dr.Barış Ekici </li>
<li >
*Anadolu Üniİ. Engelli Bakımı ve Rehabilitasyon  böümünde eğitimim devam etmektedir.  </li><br>
<b>

ÇALIŞTIĞIM VE ÇALIŞMAKTA OLDUĞUM KURUMLAR </b>
<li>
*TSK Rehabilitasyon ve Bakım Merkez Kreşi </li>
<li >
*Bahçeşehir Koleji </li>
<li >
*Bizim İlk Destek Özel Eğitim ve Rehabilitasyon Merkezi </li>
<li>
*Ada Aysen Özel Eğitim ve Rehabilitasyon Merkezi </li>
<li>
*Ankara Lions Kulübü Otistik Çocuklar Eğitim Merkezi </li>
<li >
*Akman Yuva </li>
<li >
*75.yıl Özel Eğitim Merkezi</li>
{% endblock %}