
body{
	background-color: white;
}
.content{
	width: 70%;	
	margin-left: 15%;
	color: #211f1f;
	font-size: 1em;
	font-family: "Open Sans",Arial,sans-serif;
	line-height: 2;
}
.card-text-color {
	color: #262222eb;
}
.card-title-color {
	color: #ea3b3bfa;
}
.hizmetler {
	width: 80%;
	min-height: 50%;
	margin-left: 6%;
	display: inline-block;
    margin-top: 5%;
    text-align: justify;
    font-size: 18px;
    line-height: 175%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.title-hizmetler {
	font-family: "Dancing Script",Arial,sans-serif;
	margin-left: 15%;
	color: #396094;
	line-height: 1.6;
	margin-top: 2%;
}

.hizmetler-button{
	background-color: #075e93;
	border-radius: 10%;
	border-color: #075e93;
	color: white;
	float: right;
}
.hizmetler-madde {
	width: 42%;
	min-height: 60%;
	margin-right: 5%;
	text-decoration: none;
	display: inline-block;
	padding-bottom: 5%;
}
.hizmetler-madde img{
	width: 100%;
	height: 250px;
}
.hizmetler-madde h4{
	font-size: 1.5em;
	text-align: center; 
	color:#28528d;
}
.hizmet_ozel_icerik {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #262222eb;
	margin-left: 15%;
	margin-right: 30%;
	line-height: 2em;
	margin-top: 5%;
}
.hizmet-bg {
	height: 100%;
	width: 74%;
	padding: 5%;
	border-radius: 1%;
	margin-left: 5%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}
.hizmet_ozel_baslik {
	color: white;
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 3em;
	background-color: #020c4694;
	border-radius: 3%;
}
.hizmet_ozel_alt_baslik {
    font-weight: bold;
    margin-top: 5%;
    margin-left: 15%;
    font-size: 1.7em;
    color: #28528d;
}
.hizmet_ozel_img {
	width: 25%;
	height: 20%;
	margin-left: 29%;
	border-radius: 5%;
	margin-top: 4%;
	margin-bottom: 4%;
	background-color: rgba(52, 73, 94, 0.75);
}

.title-etkinlik {
	color: #ec6c2e;
	font-family: "Dancing Script",Arial,sans-serif;
	margin-left: 15%;
	line-height: 1.6;
	margin-top: 2%;
}
.etkinlikler-button{
	background-color: #ec6c2e;
	border-radius: 10%;
	border-color: #ec6c2e;
	color: white;
	float: right;
}
.etkinlik_ozel_title {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 2em;
	text-align: center;
	margin-right: 7%;
	margin-top: 4%;
	color: #ec6c2e;
	margin-bottom: 2%;
}
.etkinlik_ozel_alt_baslik {
    font-weight: bold;
    margin-top: 5%;
    margin-left: 15%;
    font-size: 1.7em;
    color: #ec6c2e;
}
.etkinlik_ozel_img_2 {
	float: left;
	margin-left: 5%;
	width: 35%;
	margin-right: 3%;
}
.title-blog {
	color: #d43328;
	font-family: "Dancing Script",Arial,sans-serif;
	margin-left: 15%;
	line-height: 1.6;
	margin-top: 2%;
}
.blog-button{
	background-color: #d43328;
	border-radius: 10%;
	border-color: #d43328;
	color: white;
	float: right;
}
.blog_ozel_title {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 2em;
	text-align: center;
	margin-right: 7%;
	margin-top: 4%;
	color: #d43328;
	margin-bottom: 2%;
}
.blog-madde {
	width: 30%;
	min-height: 60%;
	margin-right: 170px;
	text-decoration: none;
	display: inline-block;
	padding-bottom: 5%;
}
.blog_ozel_alt_baslik {
    font-weight: bold;
    margin-top: 5%;
    margin-left: 15%;
    font-size: 1.7em;
    color: #d43328;
}
.title-iletisim {
	color: #28528d;
	font-family: "Dancing Script",Arial,sans-serif;
	margin-left: 8%;
	line-height: 1.6;
	margin-top: 2%;
}
.iletisim-icon{
	width: 50px;
	display: inline-block;
}
.iletisim-icon-media {
	width: 50px;
	display: inline-block;
	margin-left: 30%;
}
.card {
	width: 70%;
	margin-left: 5%;
}
.card-body {
	display: inline-block;
}
.fb-like {
	display: inline-block;
	margin-left: 5%;
	margin-top: 2%;
}
.sc-media-hr {
	margin-left: 2%;
	width: 80%;
}
.wp-icon {
	display: none;
	margin-left: 5%;
}
.share-icon {
	display: inline-block;
	width: 3%;
	margin-left: 55%;
}
.fb-icon {
	display: inline-block;
	width: 3%;
	margin-left: 5%;
}
@media screen and (max-width: 1025px){
	.hizmetler-madde, .blog-madde {
		width: 45%;
        text-decoration: none;
        padding: 0;
		margin: 0;
		margin-left: 3%;
		display: inline;
        padding-bottom: 5%;
        margin-bottom: 15%;
	}
	.title-etkinlik, .title-blog, .title-hizmetler, #title {
        margin-top: 15%;
	}
	.hr-dark{
		margin-right: 18%;
	}
	.card-text-color {
		color: #262222eb;
		font-size: 0.7em;
	}
	.card {
		width: 100%;
	}
	.blog-madde {
		width: 70%;
		min-height: 60%;
		margin-left: 20%;
		text-decoration: none;
		display: inline-block;
		padding-bottom: 5%;
	}
	.hizmet-bg {
		margin-top: 5%;
		width: 100%;
		margin-left: 0;	
		padding: 10% 0%;
	}
	.hizmet_ozel_baslik {
		font-size: 2em;
	}
	.hizmet_ozel_icerik {
		margin-right: 5%;
		margin-left: 5%;
		margin-top: 5%;
		text-align: left;
	}
	.hizmet_ozel_img {
		width: 50%;
		margin-left: 10%;
	}
	.wp-forward {
		display: none;
	}
	.wp-icon {
		display: none;
	}
    
}
@media screen and (max-width: 768px){
	.title-etkinlik, #title {
		margin-top: 30%; 
	}
	.hizmetler-madde, .blog-madde {
		width: 90%;
        text-decoration: none;
        padding: 0;
		margin: 0;
		margin-left: 5%;
        padding-bottom: 5%;
        margin-bottom: 15%;
	}
	.hizmet-bg {
		margin-top: 6%;
		width: 100%;
		margin-left: 0;
		padding: 10% 0%;
	}
	.hizmet_ozel_baslik {
		font-size: 1.3em;
		font-weight: bold;
    }
    .hizmet_ozel_icerik {
        margin-right: 2%;
        margin-top: 10%;
	}
	.hizmet_ozel_img {
		width: 70%;
		margin-left: 10%;
	}
	.hizmet_ozel_alt_baslik, .etkinlik_ozel_alt_baslik, .blog_ozel_alt_baslik {
        font-size: 1.2em;
	}
	.hr-dark{
		width: 100%;
		margin-right: 0;
	}
	.sc-media-hr {
		margin-left: 5%;
		width: 90%;
	}
}

@media screen and (max-width: 600px) {
	.title-etkinlik, #title {
        margin-top: 30%;
	}
	.hizmetler-madde, .blog-madde {
		width: 100%;
        text-decoration: none;
        padding: 0;
		margin: 0;
		margin-left: 0px;
        padding-bottom: 5%;
        margin-bottom: 15%;
    }
    .hizmet_ozel_title, .etkinlik_ozel_title, .blog_ozel_title {
        margin-top: 10%;
	}
	.hizmet-bg {
		margin-top: 6%;
		width: 100%;
		margin-left: 0;
		padding: 10% 0%;
	}
	.hizmet_ozel_baslik {
		font-size: 1.3em;
		font-weight: bold;
    }
    .hizmet_ozel_icerik {
        margin-right: 2%;
        margin-top: 10%;
	}
	.hizmet_ozel_img {
		width: 70%;
		margin-left: 10%;
	}
    .hizmet_ozel_alt_baslik, .etkinlik_ozel_alt_baslik, .blog_ozel_alt_baslik {
        font-size: 1.2em;
	}
	.fb-like {
		display: inline-block;
		margin-left: 5%;
	}
	.share-icon { 
		width: 9%;
		margin-left: 20%;
	}
	.fb-icon {	
		width: 9%;
		margin-left: 2%;
	}
	.wp-icon {
		display: inline-block;
		width: 5%;
		margin-left:2%;
	}	
}
