.etkinlikler-sayfa{
	width: 90%;
	min-height: 50%;
    margin-left: 9%;
    text-align: justify;
    font-size: 18px;
    line-height: 175%;
    font-family: 'Oswald', sans-serif;

}
.etkinlikler-sayfa-madde{
	width: 25%;
	min-height: 50%;
	max-height: 50%;
	margin-right: 100px;
	margin-top: 5%;
	text-decoration: none;
	display: inline-block;	
	padding-bottom: 5%;
	color: #18283e;
	padding: 10px 0;
	background-color: #f8f8fa; 
	border-radius: 2%;
}

.etkinlikler-sayfa-content{
	width: 100%;	
	color: #211f1f;
	font-family: "Open Sans",Arial,sans-serif;
	
}
@media screen and (max-width: 1300px){
	nav {
		padding-bottom: 12%;
		width: 100%;
		box-shadow: none;
	}
	nav img {
		margin-top: 5%;
		width: 30%;
	}
	nav ul  {
		display: none;
	}
	.menu-icon{
		display: inline-block;
	} 
	
	nav ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 2px solid #444;
		top: 60px;
		width: 100%;
		border-radius: 4px 0 4px 4px;
	}
	.etkinlikler-sayfa-madde img {
		height: 70%;
		width: 70%;
	}
	.etkinlikler-sayfa-madde{
		width: 100%;
		height: 100%;
		margin-left: 0%;
	}
	.etkinlikler-sayfa-madde h3{
		text-align: left;
		margin-left: 0px;
		font-size: 3em;
		line-height: 150%;
	}
	.etkinlikler-sayfa-madde p{
		font-size: 2em;
		line-height: 150%;
	}
}