
p a:link{
	text-decoration: none;
}

.logo {
	width: 80%; 
	float: right;
	margin-top: 15%;
}


nav li a:link {
	text-decoration: none;
}
button a:link, button a:hover {
	text-decoration: none;
	color: white;
}
.hayat-title {
	font-family: 'Dancing Script', cursive;
	font-size: 5em;
	text-align: center;
	margin-top: 3%;
	margin-left: 2%;
	color: #204c89;
}
.hayat-title2 {
	font-family: 'Dancing Script', cursive;
	font-size: 5em;
	text-align: center;
	color: #f24f20;
	margin-left: 2%;
}

.my-carousel {
	width: 60%;
	margin-left: 20%;
	margin-top: 5%;
	margin-bottom: 10%;
}
.my-carousel-inner {
	border-radius: 5%;
}
.nav-bar-outer {
	border-left:  2px solid #204c89;
	/*box-shadow: 0px 0px 8px  #211f1f;*/
	display: inline-block;
	position: fixed;
	right: 1%;
	top: 0;
	width: 15%;
	height: 100%;
	border-radius: 5%;
}
.nav-bar-element {
	margin-bottom: 10%;
	margin-left: 0%;
	right: 1%;
	font-size: 1.3em;
	text-transform:  uppercase;
	font-family: sans-serif;
	list-style-type: none;
	color: black;
}
.nav-bar-element a {
	color: black;
}
.nav-bar-active {
	color: #204c89;
	list-style-image: url('../fotoğraflar/Webp.net-resizeimage-arrow.png');
}
.nav-bar-active a {
	color: #f24f20;
}

.logo-mobile, .menu-icon-mobile, #nav-mobile, #menu-mobile  {
	display: none;
}
button a{
	color: white;
	text-decoration: none;
}
.background {
	z-index: -1;
	background:linear-gradient(to right, #204c89, #204c89) no-repeat;
	background-position: 0% 600px;
	width: 84%;
	padding-bottom: 5%;
}
#duyurular-baslik {
	display: inline-block;
	color: #f24f20;
	margin-bottom: 4%;
	font-size: 5em;
	font-family: 'Dancing Script', cursive;
}
.duyurular-icerik-baslik {
	color: #f24f20;
	font-family: 'Courgette', cursive;
	text-align:center;	
	font-size: 2em;
}
.duyurular-icerik-icerik {
	list-style-type: none;
	text-align: center;
	color: white;
	font-family: 'Courgette', cursive;
	font-size: 1.5em;
	margin-bottom: 2%;
}
.h3-responsive {
	background-color: #ec3e0c;
	border-radius: 5%;
	padding: 2% 4%;
	font-style: italic;
}
.h3-responsive-2 {
	background-color: #ec3e0c;
	border-radius: 5%;
	padding: 2% 4%;
	font-style: italic;
	margin-bottom: 30%;
}



.footer {
	background-color: white;
	height: 20%;
	bottom: 0;
	position: static;
	width: 84%;
}
.footer-inner {
	display: inline;
	margin-left: 20%;
}
.logo-element {
	display: inline-block;
	width: 20px;
	margin: 1%;
}
#map {
	height: 400px;  /* The height is 400 pixels */
	width: 60%;  /* The width is the width of the web page */
	margin-left: 5%;
}

@media screen and (max-width: 1025px){
	nav {
		padding-bottom: 12%;
		box-shadow: none;
	}
	.logo {
		width: 15%; 
		float: left;
		top: 0;
	}
	.logo-mobile {
		margin-top: 4%;
		display: block;
		width: 20%;
		float: left;
        z-index: 2;
	}
	.nav-bar-outer {
		display: none;
	}
	#nav-mobile {
		display: block;
		border-bottom: 2px solid #204c89;
		background-color: white;
		height: 22%;
		margin:0;
		position: fixed;
		padding:0;
		z-index: 2;
		margin-bottom: 0;
	}
	.menu-icon-mobile {
		float: right;
		display: block;
	}
	#menu-mobile {
		display: none;
		margin:0;
		padding:0;
		height: 80%;
		background: none;
		position: fixed;
		margin-left: 38%;
	}
	.nav-bar-element-mobile {
		color: black;
		font-family: sans-serif;
		list-style-type: none;
		z-index: -1;
		font-size: 1.3em;
		text-transform:  uppercase;
		width: 100%;
		text-align: center;
		margin-top: 5%;
	}
	.nav-bar-element-mobile a {
		color: black;
	}
    .my-carousel {
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
    }
	.nav-bar-active a {
		color:#f24f20;
	}
	@keyframes menu-mobile-animation-1 {
		from {height: 22%;}
		to {height: 100%}
	}
	@-webkit-keyframes menu-mobile-animation-1  {
		from {height: 22%;}
		to {height: 100%}
	}
	@keyframes menu-mobile-animation-2 {
		from {height: 100%;}
		to {height: 22%}
	}
	@-webkit-keyframes menu-mobile-animation-2  {
		from {height: 100%;}
		to {height: 22%}
	}
	.hayat-title {
		font-family: 'Dancing Script', cursive;
		font-size: 5em;
		margin-top: 12%;
	}
	.hayat-title2 {
		font-family: 'Dancing Script', cursive;
		font-size: 5em;
	}
	#duyurular-baslik {
		display: inline-block;
		color: #f24f20;
		margin-bottom: 7%;
		font-size: 3.5em;
		font-family: 'Dancing Script', cursive;
	}
	.duyurular-icerik-icerik {
		margin-bottom: 3%;
	}
	.background {
		margin:0;
		padding:0;
		width: 100%;
	}
	.footer {
		margin:0;
		padding:0;
		width: 100%;
	}
}
@media screen and (max-width: 768px){
	.logo {
		width: 20%;
	}
	.logo-mobile {
		width: 30%;
	}
	.hayat-title {
		font-size: 5em;
		margin-top: 40%;
	}
	.hayat-title2 {
		font-size: 5em;
	}
	.background {
		margin:0;
		padding:0;
		width: 100%;
		background-position: 0% 500px;
    }
    .my-carousel {
		width: 100%;
        margin-left: 0%;
		margin-top: 35%;
	}
	
	.my-carousel-inner {
		border-radius: 2%;
	}
    #menu-mobile {
		position: fixed;
		margin-left: 28%;
    }
    #nav-mobile {
        height: 14%;
        position: fixed;
	}
	.duyurular-icerik-icerik {
		margin-left: -5%;
		font-size: 1.3em;
		margin-bottom: 5%;
	}
	@keyframes menu-mobile-animation-1 {
		from {height: 14%;}
		to {height: 100%}
	}
	@-webkit-keyframes menu-mobile-animation-1  {
		from {height: 14%;}
		to {height: 100%}
	}
	@keyframes menu-mobile-animation-2 {
		from {height: 100%;}
		to {height: 14%}
	}
	@-webkit-keyframes menu-mobile-animation-2  {
		from {height: 100%;}
		to {height: 14%}
	}
}

@media screen and (max-width: 600px) {
    #menu-mobile {
		position: fixed;
		margin-left: 18%;
    }
    #nav-mobile {
        height: 10%;
        position: fixed;
    }
	.logo {
		width: 20%;
	}
	.logo-mobile {
		width: 30%;
	}
	.hayat-title {
		font-family: 'Dancing Script', cursive;
		font-size: 5em;
		margin-top: 40%;
    }
    
	.hayat-title2 {
		font-family: 'Dancing Script', cursive;
		font-size: 5em;
	}
	.background {
		margin:0;
		padding:0;
		width: 100%;
		background-position: 0% 500px;
    }
    .my-carousel {
		width: 100%;
        margin-left: 0%;
		margin-top: 35%;
		border-radius: none;
    }
   
	.duyurular-icerik-baslik {
		margin-left: -5%;
	}
	.duyurular-icerik-icerik {
		margin-left: -5%;
		margin-bottom: 5%;
	}
	.my-carousel-inner {
		border-radius: 2%;
	}
	
	@keyframes menu-mobile-animation-1 {
		from {height: 10%;}
		to {height: 100%}
	}
	@-webkit-keyframes menu-mobile-animation-1  {
		from {height: 10%;}
		to {height: 100%}
	}
	@keyframes menu-mobile-animation-2 {
		from {height: 100%;}
		to {height: 10%}
	}
	@-webkit-keyframes menu-mobile-animation-2  {
		from {height: 100%;}
		to {height: 10%}
	}
}