{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- {% block title %}{{ blog.baslik }}{% endblock title %} -->
{% block wp %} <meta property="og:title" content="{{ blog.baslik }}"  /> {% endblock wp %}
{% block wp_icerik %} <meta property="og:description" content="{{ wp_icerik }}"  /> {% endblock wp_icerik %}
{% block wp_img %} <meta property="og:image" content="/{{ blog.resim.url }}"/> {% endblock wp_img %}
<img class="hizmet_ozel_img" src="/{{ blog.resim.url }}">
<p class="blog_ozel_alt_baslik" >{{blog.baslik}}</p>
<p class="hizmet_ozel_icerik"> {{ blog.icerik|linebreaksbr }}</p>

<p class="hizmet_ozel_icerik"> {{ blog.icerik2|linebreaksbr }}</p>
<hr class = "sc-media-hr">
<iframe class="fb-like" frameBorder="0" src="https://www.facebook.com/plugins/like.php?href=https://www.terranovahayat.com/bloglar/{{blog.id}}/&amp;layout=button_count&amp;show_faces=false&amp;width=105&amp;action=like&amp;colorscheme=light&amp;height=21"
 style="border:none; overflow:hidden; width:105px; height:21px; background-color:transparent; display: inline-block;"></iframe></div>
    <img class="share-icon" src="{% static 'foto/share-512.png' %}">
    <a href = "https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.terranovahayat.com%2Fbloglar%2F{{blog.id}}"><img class = "fb-icon" " src = "{% static 'foto/fb-icon.png' %}"></a>
    <a href="whatsapp://send?text={{blog.baslik}} https://terranovahayat.com/bloglar/{{blog.id}}"> <img class="wp-icon" style="width: 10%;" src="{% static 'foto/wp-icon.png' %} "></a>


{% endblock %}