{% extends 'base.html' %}
{% load static %}
{% block content %}



<img class="hizmet_ozel_img" src="/{{ blog.resim.url }}">
<p class="blog_ozel_alt_baslik" >{{blog.baslik}}</p>
<p class="hizmet_ozel_icerik"> {{ blog.icerik|linebreaksbr }}</p>

<p class="hizmet_ozel_icerik"> {{ blog.icerik2|linebreaksbr }}</p>
<div class ="wp-forward">
    <hr>
    <meta property="og:image" content="{{ blog.title }}"><a href="whatsapp://send?text={{blog.title}} https://terranovahayat.com/bloglar/{{blog.id}}"> <img class="wp-icon" style="width: 10%;" src="{% static 'foto/whatsapp-512.png' %} "></a>
</div>

    {% endblock %}