{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="hizmetler-animation animated slideInLeft slower delay-1s">
<h1 class="title-blog" id = "title" style="margin-left: 9%;"> BLOG </h1>
<hr class="hr-dark" style="width: 75%; margin-right: 20%;">
</div>

{% if bloglar %}
<div class="hizmetler animated fadeIn slow delay-2s">
{% for blog,icer in mylist %}

	<div class="blog-madde" style="display: inline-block">
		<div class="card">
			<div class="view overlay">
				<img class="card-img-top" src="/{{ blog.resim.url }}">
				<a>
					<div class="mask rgba-white-slight"></div>
				</a>
			</div>
			<div class="card-body rounded-bottom">
				<a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
				<h4 style="color: #d43328; min-height: 10%; max-height: 10%">{{ blog.baslik }}</h4>
				<hr class="hr-dark">
				<p class="card-text card-text-color mb-4" style="color: #262222eb;  text-align: left;">{{ icer }}...</p>
				<a href="{% url 'blog_ozel' blog.id %}"><button href="{% url 'blog_ozel' blog.id %}" class="blog-button">Ayrıntılar</button></a>
			</div>
		</div>
	</div>

{% endfor %}
</div>
{% else %}
	<p> Blog bulunmamaktır</p>
{% endif %}
{% endblock %}