	
nav {
	overflow: hidden;
	padding: 0px 30px;
	box-shadow: 5px 1px #888888;
	background-color: #f8f8fa;
	padding-top: 10px;	
	font-size: 0.9em;
	z-index: 2;
	margin: -7px -7px 0 -7px;
}
nav ul img{
	display: none;
}
nav li {
	font-family: sans-serif;
	display: inline-block;
	margin: 0px 3% 1.5% 5%;
	padding: 35px auto;
	text-decoration: none;
}
nav li a, .dropbtn {
	display: inline-block;
	color: rgb(43, 85, 135);
	text-align: center;
	text-decoration: none;  
   	padding: 2em;
	margin: -2em; 
}
nav li a:visited {
	color:rgb(43, 85, 135);
	text-decoration: none;
}
nav li a:hover, .dropdown:hover{
	color: red;
}
nav li.dropdown {
	display: inline-block;
	z-index: 2;
}
nav img {
width: 10%;
 float: left;
  margin-left: 5%; 
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
	z-index: 1;
	max-width: 300px;
	border-top: 4px solid #486b9c;
}
.dropdown-next{
	display: inline-block;
	z-index: 2;
	padding-right: 100px;
}
.dropdown-content-next {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
	z-index: 1;
	max-width: 300px;
	border-top: 4px solid #486b9c;
	margin-left: 100%;
	margin-top: -30%;
}
.menu-icon{
	display: none;
	float: right;
	margin-bottom: 2%; 
	margin-top: 10%;

}
.sayfa-yapım{
	background-repeat: no-repeat;
	background-size: 100%;
}
.dropdown-content-next a {
	color: #3e4244;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	margin: 2px;
}
.dropdown-content-next  a:hover {
	background-color: #f1f1f1
	padding-right: 100px;
}
.dropdown-content a {
	color: #3e4244;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	margin: 2px;
}
.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-top:	30px;
    padding-top: 20px;
}
.dropdown-next:hover .dropdown-content-next {
	display: block;
}
.href1 {
	color: #0b88d3;
}
.href1 a:visited{
	color: #0b88d3;
}
.homePage{
	font-family: sans-serif;
	color: #0b88d3;
} 
.homePage a:link {
	font-family: sans-serif;
	color: blue;
	text-decoration: none;
}	
.homePage a:visited {
	color: #0b88d3;
}   
.homePage a:hover{
	color: red;
}

.slideshow-container {
  width:60%;
  max-height: 30%;
  position: relative;
  margin-left: 10%;
  margin-top: 20px;
  float: left;
}

.mySlides {
    display: none;
}
.slides-img {
	width: 100%;
	height: 600px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 47%;
  size: 50px;
  margin-top: -22px;
  padding: 30px;
  color: #ee4009;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8); 
}

/* Caption text */
.text {
  color: white;
  font-size: 2em;
  padding: 8px 12px;
  position: absolute;
  bottom: 20%;
  margin-left: 0%;
  display: none;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  background-color: rgba(73,89,96,0.5);
  border-radius: 5%;
  font-family: 'Bookman', Arial, Helvetica, sans-serif;	
  transition-property: width;
  transition-duration: 4s;
}
.active-text {

  display: block;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/* end of slides */
button a{
	color: white;
	text-decoration: none;
}
.calendar {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 90%;
	margin-left: 6%;
	border-collapse: collapse;
	border-radius: 10%;
}
.calendar tr:nth-child(odd){background-color: #f2f2f2;}
.calendar-icon {
	height: 10px;
	width: 10px;
}
.calendar tr{
	color:rgba(0, 0, 0, 0.6);
}
.calendar td{
	padding: 1% 1%;
	max-width: 2%;
}
.calendar a{
	color:rgba(0, 0, 0, 0.6);
	text-decoration: none;
}
.calendar-border-top {
	border-top: 4px solid #e3e3f7; 
	border-left:4px solid #e3e3f7;
	border-right: 4px solid #e3e3f7;
}
.calendar-border-mid {
	border-left:4px solid #e3e3f7;
	border-right: 4px solid #e3e3f7;
}
.calendar-border-bot {
	border-right: 4px solid #e3e3f7;
	border-left: 4px solid #e3e3f7;
	border-bottom: 4px solid #e3e3f7;
}
.etkinlik-tarihleri {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
    width: 5%;
    max-height: 60%;
    margin-left: 10%;
}
#etkinlikTarihleri{
	clear: both;
	margin-left: 6%; 
	font-family: 'Oswald'; 
	color: #ff5722;
}
.etkinlik-tarihleri td, .etkinlik-tarihleri th {
	border: 3px solid #a5b7cf;
	padding: 1% 2% ;
}
.etkinlik-tarihleri td:hover {
	background-color: #bbb;
}
.etkinlik-tarihleri th {
	color: white;
	background-color: #28528d;
}
.etkinlikler{
	display: inline-block;
	margin-right: 2%;
	margin-top: 1.5%;
	max-width: 20%;
	min-width: 20%;
	background-color: #f8f8fa;
	float: right;
	z-index: 10;
	box-shadow: 4px 1px #969595;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.etkinlikler a {
	color: #28528d;
	text-decoration: none;
}
.etkinlikler p {
	margin: 15% 1%;
}
.etkinlikler-icon{
	float: left;
	margin-top: -10px;
	margin-left: 3px;  
	width: 30px;
	height: 30px;
}
.hizmetler {
	width: 100%;
	min-height: 50%;
    margin-left: 6%;
    text-align: justify;
    font-size: 18px;
    line-height: 175%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.hizmetler-madde {
	width: 25%;
	min-height: 50%;
	margin-right: 100px;
	text-decoration: none;
	display: inline-block;
	padding-bottom: 5%;
	color: black;
}
.hizmetler-madde img{
	width: 100%;
	height: 250px;
}
.hizmetler-madde h4{
	font-size: 1.5em;
	text-align: center; 
	color:#28528d;
}
.blog {
	width: 100%;
	min-height: 50%;
    margin-left: 6%;
    text-align: justify;
    font-size: 18px;
    line-height: 175%;
    font-family:"Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
.blog-background {
	background-color: #e8e8e8;
}
.blog-madde{
	width: 23%;
	min-height: 50%;
	margin-right: 100px;
	text-decoration: none;
	padding-bottom: 5%;
	padding-top: 0;
	display: inline-block;
	color: black; 
}
.blog-madde-img {
	width: 100%;
    margin-bottom: 20px;
    max-height: 300px; 
    min-height: 300px;
}
.btn{
	padding: 20px;
	border-radius: 10%;
	box-shadow: none;
	border: 1px solid transparent;
	font-family: 'PT Sans Narrow', sans-serif;
	background-color:#ff5722;
	color: white;
	transition: all .2s ease-in-out;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
    margin-left: 130px;
}
.btn:hover{
	background-color: #db582e;
	padding: 17px;
}
.btn-blog{
	padding: 13px;
	box-shadow: none;
	border: 1px solid transparent;
	font-family: 'PT Sans Narrow', sans-serif;
	background-color: #b53a3af0;
	color: white;
	transition: all .2s ease-in-out;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.btn-blog:hover{
	padding: 17px;
	background-color: #b53a3a;
}
.blog-tmn{
	text-decoration: underline;
	color: red;
	font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;;
	float: right;
	margin-top: -4%;
	margin-right: 11%;
}
.footer {
	background-color: blue;
	height: 20%;
	width: 100%;
	margin-left: none;
}
.footer-img {
	height: 55px;
	margin-bottom: 10px;
	float: right;
}
#map {
	
	 height: 100px;  /* The height is 400 pixels */
     width: 60%;  /* The width is the width of the web page */
}
@media screen and (max-width: 1025px){
	nav {
		padding-bottom: 12%;
		width: 100%;
		box-shadow: none;
	}
	nav img {
		margin-top: 5%;
		width: 30%;
	}
	nav ul  {
		display: none;
	}
	.menu-icon{
		display: inline-block;
	} 
	
	nav ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 2px solid #444;
		top: 60px;
		width: 100%;
		border-radius: 4px 0 4px 4px;
	}
	
	.calendar{
		margin-left: 10%;
	}
	#etkinlikTarihleri {
		font-size: 3em;
		margin-left: 10%;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.etkinlikler{
		margin-top: 1.5%;
		
		max-width: 90%;
		min-width: 90%;
		float: none;
		padding-bottom: 1%;
		font-size: 1.5em;
	}
	.etkinlikler p {
		margin: 2% 3%;
	}

	nav li {
		width: 100%;
		padding: 10px 0;
		margin: 3% 0;
		border-bottom: 2px solid #204c89;
		font-size: 2.2em;
	}
	.slideshow-container {
		margin-left: 5%;
		width: 100%;
	}
	.prev, .next {
		size: 2em;
	}
	.mySlides {
		width: 100%;
	}
	.dropdown-content a, .dropdown-content{
		display: none;
		border-top: none;
		z-index: -1;
	}
	.dropdown:hover .dropdown-content {
		display: none;
	}
	.dropdown{
		display: none;
	}
	.hizmetler-madde{
		width: 100%;
		height: 100%;
	}

	.btn {
		font-size: 2em;
		width: 30%;
		margin-left: 0px;
	}
	.hizmetler-madde img{
		height: 50%;
		width: 100%;
	}
	.hizmetler-madde h4{
		text-align: left;
		margin-left: 0px;
		font-size: 3em;
	}
	.hizmetler-madde p{
		font-size: 2em;
		line-height: 150%;
	}
	#blog-baslık{
		font-size: 3em;
	}
	.btn-blog {
		font-size: 2em;
		width: 30%;
		margin-left: 0px;
	}
	.blog-madde{
		width: 100%;
		min-height: 90%;
	}
	.blog-madde-img{
		min-height: 50%;
		width: 100%;
		max-height: 50%;
	}
	.blog-madde h4{
		text-align: left;
		margin-left: 0px;
		font-size: 3em;
	}
	.blog-madde p{
		font-size: 2em;
		line-height: 150%;
	}
}